[2018-10-20 10:16] ankushtale opened #1 "The concept of Recommender Systems"
Hello,
Ankush here. I am a Data Developer in CTO office at Barclays. I have been studying ML since more than an year now and have implemented a few things at work.

Recommender Systems is one of the applications of ML that touches our lives every single day. I recently gave a talk on it in my company which was very well received. I think, Recommender engines stand as a great introductory topic for

[2018-11-06 03:23] PyDataPune commented on #1
Confirming your talk for 9th meetup @Nov 25

[2018-11-12 17:43] AshwathSalimath opened #2 "Attention is not quite all you need"
Hello All,

I currently work as a Graduate Data Scientist at [CeADAR Ireland](https://www.ceadar.ie/) [Day Job]. Also, I am a Research Intern at [Octavian.AI](https://www.octavian.ai/). My interest lies in Graph AI and Predictive Maintenance [Industry 4.0]. This talk will be related to Octavian's work.

**Talk Overview**

We ([Octavian.AI](https://www.octavian.ai/)) have developed a novel and robu

[2018-12-14 05:11] PyDataPune commented on #2
accepted for event dated for Jan 05, 2019

[2018-12-18 13:14] bitsbuffer opened #3 "Introduction to Topic Modelling"
Topic modelling is an unsupervised technique of extracting meaningful information from the text corpus.

**Why topic modelling ?**
The amount of text data that is being generated in the form of Whatsapp messages, Tweets, Facebook posts, reviews etc. need some mechanism to identify patterns, behaviors and trends. Finding what the text data is about and finding abstract themes in the data may render

[2018-12-19 10:38] PyDataPune commented on #1
Need the link of the repository where all code and material is posted

[2018-12-19 10:38] #1 closed, assigned to nobody

[2019-01-02 16:07] kaniruddha commented on #3
Hi, Could you tell me the estimated time you will need for the talk and the resources you need?

[2019-01-02 17:09] bitsbuffer commented on #3
I will need at least an hour and half for talk.I would like to present a demo for that I would need projector, I will carry my own laptop for demo.

[2019-01-04 04:52] thombrem opened #4 "Intelligent Chatbot to Automate the Interview"
Intelligent Chatbot to Automate the Interview

[2019-01-04 05:24] mayankskb commented on #4
Hey Milind,

Thanks for making an issue. Can you add details like what you will be covering. Which all algorithms you will discuss.

Thanks

[2019-01-04 05:47] thombrem commented on #4
Hi Mayank,

I will send out the outline, but lets not target tomorrow, This will take
time

Regards
Miilnd

On Fri, Jan 4, 2019 at 10:54 AM Mayank Mishra <notifications@github.com>
wrote:

[2019-01-04 13:01] mayankskb commented on #4
Yeah!! Not planning for tomorrow. Feel free bro. We will ask you before scheduling it. :)

[2019-01-05 18:37] mayankskb commented on #2
Hey Ashwath,
Please share link of your presentation.
Thanks

[2019-01-12 07:12] AshwathSalimath commented on #2
Hello Mayank,

Here is the link of the presentation: https://speakerdeck.com/ashwathsalimath/attention-is-not-quite-all-you-need

Thank you so much for providing us with an opportunity to present our work at PyData Pune. It was a great experience.

[2019-01-12 07:12] #2 closed, assigned to mayankskb

[2019-01-13 14:03] shreyas-kalmegh commented on #3
Hi, let us know if your resources(notebooks/ code) are ready. If not how long will it take? Also, let us know of your availability so that we can confirm this talk. Feel free to ask or discuss anything if needed.

[2019-01-13 16:53] mayankskb commented on #4
Hey Milind,
Let me know when we can have your talk. Also please provide details about your talk.
Thanks
Mayank

[2019-01-13 17:20] thombrem commented on #4
yes, should update with details in next week

On Sun, Jan 13, 2019 at 10:23 PM Mayank Mishra <notifications@github.com>
wrote:

[2019-01-14 14:14] bitsbuffer commented on #3
I have demos ready with me for Latent Semantic Analysis and Latent Dirichlet Allocation. The lda2vec part won't take much time.
It will also need a day or two for preparing slides.

Regarding availability - I'll be available in entire February apart from (9, 10, 11, 12).

[2019-01-17 15:51] npande opened #5 "Introduction to In-Memory data structure store - Redis / AWS ElastiCache Redis"
**Redis (Amazon ElastiCache for Redis)**
Redis is a fast, open source, in-memory key-value data store for use as a database, cache, message broker, and queue. It delivers sub-millisecond response times enabling millions of requests per second for real-time applications in Gaming, Ad-Tech, Financial Services, Healthcare, and IoT. Redis is a popular choice for caching, session management, real-time

[2019-01-21 18:00] mayankskb opened #6 "Excursion to Neural Network"
The proposed Line Up
- What is Neural Network?
- Why we need Neural Network?
- Traditional ML vs Neural ML
- Inspiration behind Neural Network
- Anatomy of Neural Network
- Types of Neurons
- Components of Neural Networks
- Back propagation
- Importance of Non-linearity
- Types of Activation Functions
- Initialization of weights and choosing optimizer
- Building your first Neural Network using Num

[2019-01-22 13:41] PyDataPune commented on #1
link of talk recording https://www.youtube.com/watch?v=AYQlREpZrrc&t=484s

[2019-01-30 13:03] mayankskb commented on #4
Hey Milind,

Let me know when we can have your talk. Also please provide details about your talk.

Thanks
Mayank

[2019-02-01 16:33] thombrem commented on #4
Hey Mayank,

Lets pick a date in the last week of February (23/24) 2019 and then things
will have to happen! We should have a Talk followed by a Demo. I will give
you the outline one week before (16/17 Feb) so that you can take a call.
Please rest assured, people will feel educated as well as entertained!

Thanks for the follow up.

Regards
Milind Thombre
9823097126

[2019-02-02 18:54] mayankskb commented on #4
This is good let us finalize the March Date and will give you a shout of it.

[2019-02-03 15:11] SanjotRaibagkar opened #7 "Algo Trading using AI,Ml and DL"
Will cover effect of AI on finance and specific use case of stock and derivatives analysis using ML,DL and AI

[2019-02-04 00:42] SanjotRaibagkar commented on #7
Will cover effect of AI on finance and specific use case of stock and derivatives analysis using ML,DL and AI

[2019-02-04 06:22] shreyas-kalmegh commented on #7
Can you provide us with an outline of the talk and dates you will be available? Also how long will it take to prepare for the talk including code and slides?

[2019-02-05 18:07] himanshurawlani opened #8 "Visual Interpretability for convolutional neural networks"
In application programming, we have debugging and error checking statements like print, assert, try-catch, etc. But when it comes to deep neural networks, debugging becomes a bit tricky. Visualizing ConvNets gives us good intuition about the world of neural networks. This talk will be based on my blog post: [https://towardsdatascience.com/visual-interpretability-for-convolutional-neural-networks-2

[2019-02-11 06:26] PyDataPune commented on #6
Delivered!!

[2019-02-11 06:26] #6 closed, assigned to kaniruddha, shreyas-kalmegh, mayankskb

[2019-02-11 09:53] mayankskb commented on #4
Hey Milind,

We are thinking to place your talk for March 10 event. Please let us know about your availability for the same.

Thanks
Mayank Mishra

[2019-02-11 15:28] thombrem commented on #4
I'm here on March 10, I will mark my calendar once you confirm Mayankji

On Mon 11 Feb, 2019, 3:23 PM Mayank Mishra <notifications@github.com wrote:

[2019-02-11 15:41] mayankskb commented on #4
Confirmed Milind Sir G.

[2019-02-12 05:48] Devendrabhat commented on #5
Hi Nitin,
Your topic is looking pretty interesting.
I had a query that how much time will you need to deliver it?
Also it will be great if you can target Linux and Windows systems along with macOS.
Please let me know what you feel regarding this points.

[2019-02-14 10:00] shreyas-kalmegh commented on #3
Hi, we couldn't finalize your talk for the last meetup as it was on 10th feb. Let us know if you are available on 10th march.

[2019-02-15 12:14] bitsbuffer commented on #3
I will be available on 10th March. We can finalize the meetup.

[2019-02-15 12:18] shreyas-kalmegh commented on #3
Thanks for the confirmation.

[2019-02-15 12:18] shreyas-kalmegh commented on #3
Talk finalized for March 10 event.

[2019-02-16 12:00] priyanka-kasture opened #9 "Decision Optimization and Machine Learning"
Decision Optimization + Machine Learning = Innovative solutions

The interplay between Decision Optimization and Machine learning is best appreciated when one understands how each technique complements the other. Machine Learning models bring the ability to provide accurate forecasts (demand forecasts, equipment failure predictions, etc.) by considering real-time inputs as well as historical data.

[2019-02-21 17:43] mayankskb commented on #4
Sir event date is changed from march 10 to march 09. Let me have your confirmation for the same.

[2019-02-21 17:44] mayankskb commented on #3
sir event date is changed from march 10 to march 09. let me have your confirmation for the same.

[2019-02-22 08:53] bitsbuffer commented on #3
I don't have any problem.

[2019-02-22 10:37] mayankskb commented on #3
Thanks!! Also please let me know the time frame that you may need to execute your talk.

[2019-02-22 10:38] mayankskb commented on #4
Also Please let me know the exact time frame that you need to execute your talk

[2019-02-22 13:03] sigmakappa opened #10 "Regression Analysis and the curious Marvel Movies Case"
There have been multiple papers published earlier attempting to predict movie earnings based on different contributing factors like demography, time of year, casting, etc by using different data science models.

This idea attempts implementing Regression techniques (Linear and Multiple Linear) in predicting Box Office earnings of MCU movies based on different associated and quantifiable factors.

[2019-02-22 13:10] sigmakappa commented on #3
@bitsbuffer would that be same time as of now?

FYI @mayankskb

[2019-02-23 12:02] shreyas-kalmegh commented on #10
Hi, let us know the time duration required for the talk and your availability on 9th march.

[2019-02-23 18:36] sigmakappa commented on #10
Time duration is 30 minutes and yes available on March 9.

[2019-02-23 18:56] mayankskb commented on #10
Accepted for March 09 2019

[2019-02-23 18:59] mayankskb commented on #9
Hey Priyanka,

Thanks for making an issue. It seems interesting to me. How much time you will need to prepare the content.

Thanks
Mayank Mishra

[2019-02-23 19:04] mayankskb commented on #3
Also please share a write-up to introduce you sir at following mail : pydata.pune@gmail.com

[2019-02-24 21:44] bitsbuffer commented on #3
I will need 1.5 hrs for talk. We can keep half hour for open discussion (depends on organizers). I will try to show a demo within 1.5 hrs time frame. I will try to keep session focussed on intuition and light on mathematics. If someone is extremely interested in maths and implementation part, we can use extra half an hour time frame if organizers permit.

[2019-02-25 10:37] prakharverma opened #11 "Learning context through MultiPath CNN"
This presentation explains how at TomTom we improved accuracy in semantic segmentation by exposing higher contextual information. And how we used MultiPath CNN to harness the exposed contextual information.

[2019-02-25 10:40] mayankskb commented on #11
Hi Prakhar,

Thanks for making issue. Accepted for Feb 09, 2019.

Regards,
Mayank Mishra

[2019-02-25 14:53] shoaib04 opened #12 "Sentiment analysis using NLTK"
Brief about use cases of NLTK and demo of Twitter sentiment analysis using NLTK.

I would like to deliver it as a lightning talk, I am fine if I get 20 minutes of time for presentation.

I will carry my own laptop and need a projector to show code samples

[2019-02-26 02:33] priyanka-kasture commented on #9
Thank you for considering my proposal.

4-5 days of preparation would be more than enough.

On Sun, Feb 24, 2019, 12:29 AM Mayank Mishra <notifications@github.com>
wrote:

[2019-03-05 17:54] thombrem commented on #4
Gosh Mayank,

I have been terribly busy with my startup, but a promise is a promise! I will deliver a talk on 9th March (Saturday) if the slot is still open! If not there is always a next time!

Either ways, please let me know as soon as you see this, so that I can budget a day or two in the prep work this week itself to polish the talk and time it.

My apologies for not writing back earlier.

Reg

[2019-03-05 18:43] mayankskb commented on #4
Hey Milind,

I have already listed your talk for March 09 meetup. For replying late no probs. Milind I need a wrietup about you for introducing you on the day of event.

Thanks
Mayank

[2019-03-05 18:43] mayankskb commented on #4
Hey Milind,

I have already listed your talk for March 09 meetup. For replying late no probs. Milind I need a wrietup about you for introducing you on the day of event.

Thanks
Mayank

[2019-03-07 08:26] thombrem commented on #4
Hi Mayank,
I will send you a writeup soon, my priority is getting the slidedeck in order
Regards
Milind

[2019-03-07 14:11] sigmakappa commented on #3
Also request you to install a screen recorder (if that has voice recording also that's an advantage) over the machine that you would be using during the talk. Please respond/confirm ASAP you get this either to your point of contact @ PyData or here.

[2019-03-07 14:11] sigmakappa commented on #4
Also request you to install a screen recorder (if that has voice recording also that's an advantage) over the machine that you would be using during the talk. Please respond/confirm ASAP you get this either to your point of contact @ PyData or here.

[2019-03-07 14:11] sigmakappa commented on #11
Also request you to install a screen recorder (if that has voice recording also that's an advantage) over the machine that you would be using during the talk. Please respond/confirm ASAP you get this either to your point of contact @ PyData or here.

[2019-03-07 14:42] prakharverma commented on #11
@sigmakappa OK! I will do so.

[2019-03-08 06:26] prakharverma commented on #11
@sigmakappa I had a small query. Do you do a video recording of the sessions too or it's the only screen recording?

[2019-03-08 07:47] mayankskb commented on #11
Hi,

We are planning to do video recording of the session to make it available at official youtube channel of pydata pune.

Thanks
Mayank Mishra

[2019-03-08 07:48] mayankskb commented on #11
Well Prakhar, Can you give me write-up about the speaker for introducing him. You can give it to me here or send on the following email "pydata.pune@gmail.com"

[2019-03-08 07:51] PyDataPune commented on #3
Hi Shubhmay bro, Please help me with a write-up about you for introducing you.
Can email on "pydata.pune@gmail.com"

[2019-03-08 08:54] thombrem commented on #4
Screen recorder? Not sure we need it, but do you recommend any? FOSS perhaps?

[2019-03-08 09:00] thombrem commented on #4
ok installed gamebar, will test it in a bit....

[2019-03-08 12:57] sigmakappa commented on #4
Good! Make sure this doesn't give any watermarks or impressions like that post recording.

[2019-03-10 06:49] PyDataPune commented on #3
Hey Shubhmay! Once you uploaded your presentation somewhere like Speakerdeck or slideshare. Please send the link of it here.

Thanks

[2019-03-10 06:50] PyDataPune commented on #10
Once you uploaded your ppt somewhere please send the link here.
Thanks

[2019-03-10 06:51] PyDataPune commented on #4
Please send the link of ppt and materials used here!!

Thanks

[2019-03-10 06:52] PyDataPune commented on #7
Hey Sanjot,

Help me with the content that you are planning to cover!!

Thanks

[2019-03-11 06:25] mayankskb commented on #11
Hey,

If possible can we get the link of ppt that you guys used for reference purpose.

Thanks

[2019-03-11 06:26] #10 closed, assigned to shreyas-kalmegh

[2019-03-12 17:26] mayankskb commented on #3
Hey Shubhmay,

Please share link of your ppt  here so that I can close this issue.

Thanks

[2019-03-12 17:28] mayankskb commented on #4
Hey Milind,

Please share link of your ppt here so that I can close this issue.

Thanks

[2019-03-12 17:58] #3 closed, assigned to kaniruddha, shreyas-kalmegh

[2019-03-12 17:58] #4 closed, assigned to mayankskb

[2019-03-12 17:59] #11 closed, assigned to mayankskb

[2019-03-13 04:53] npande commented on #5
Sorry for late reply. Will require 1 hour for sure. I will try my best to cover for other OS. Mac / Linux is good. Windows seems problematic.

[2019-03-14 14:31] thombrem commented on #4
[PyData_talk_intelligent_HR_chatbot.pptx](https://github.com/PyDataPune/Talks/files/2966882/PyData_talk_intelligent_HR_chatbot.pptx)

[2019-03-15 07:07] thombrem commented on #4
[PyData_talk_intelligent_HR_chatbot.pptx](https://github.com/PyDataPune/Talks/files/2969795/PyData_talk_intelligent_HR_chatbot.pptx)

Please ignore the earlier slide deck

[2019-03-18 16:05] Disha-Patil opened #13 "Introduction to R language and handling astronomical datasets"
An introduction to R language and statistics with R will be covered. This will include introduction to the data visualisation with R.
I will walkthrough a real life case study from astronomy domain explaining each stage of data analysis and how to do it in R.

This talk will be 1 to 1.15 hr long.

[2019-03-25 06:42] mayankskb commented on #13
Finalized for April 14

[2019-03-25 06:57] Disha-Patil commented on #13
Wonderful. I will mark my calendar.

On Mon 25 Mar, 2019, 12:12 PM Mayank Mishra, <notifications@github.com>
wrote:

[2019-03-25 07:03] mayankskb commented on #13
Also please share a brief write-up about you for introducing

[2019-03-25 07:10] mayankskb commented on #13
@sigmakappa brother do share the name and information about the screen recording software.

[2019-03-26 04:07] Disha-Patil commented on #13
About me:

I am computational engineer by training. Currently working on Industrial
Internet of Things. Somedays I am solving PDEs, somedays I am building a
machine learning model. I primarily work with R language.

Apart from work I am busy being an enthusiastic audience to theatre plays,
movies, and music concerts in the town. I am an amateur Ebru artist and
love to write.

-disha

On Mon 25 Mar

[2019-03-26 04:52] shoaib04 commented on #12
Hi, any update?
So that I can align my schedule.

[2019-03-27 13:51] vkaustubh opened #14 "Probability Distributions - What They Are And How Scientists Use Them?"
The speaker will begin with what random variables are and how probability distributions are needed and used to describe their behavior. The speaker will give some examples of probability distributions and then proceed to talk about one of the older yet often not intuitively grasped distribution known as the chi-square distribution. The speaker will especially bring out how this distribution comes

[2019-03-27 14:05] prateekgupta891 commented on #3
Shubhmay can you please share the link for your presentation here.

[2019-03-27 14:24] mayankskb commented on #14
Thanks Kaustubh for making an issue.

Talk is accepted for April 14, 2019. Also please give us a brief write-up about you for introducing you.

@sigmakappa Please write the information related to which software he need to install on hi system for screen recording

[2019-03-27 14:31] vkaustubh commented on #14
@mayankskb
Here is a brief bio

[2019-03-27 14:33] vkaustubh commented on #14
@mayankskb @sigmakappa

I had a discussion with @kaniruddha and we discussed the feasibility of me giving a board talk. As I understand this is feasible and hence I am giving a free style board talk.

[2019-03-27 14:34] mayankskb commented on #13
Thanks Disha

@sigmakappa  kindly add details related to screen recording software

[2019-03-27 15:09] mayankskb commented on #14
cool this is awesome. In that case we will not have any ppt and demo then screen recording will not be required. Lets us know if you are planning to have some computer projector based things else we are good to go with board thing.

Thanks

[2019-03-28 02:16] vkaustubh commented on #14
I can show some plots on the screen since drawing them is rather painful. Will that be troublesome?

[2019-03-28 09:53] mayankskb commented on #14
nope not a problem

[2019-03-28 11:17] vkaustubh commented on #14
Cool then! Dominantly board talk with the occasional plot on the screen.

[2019-03-28 14:16] Devendrabhat commented on #12
Hi @shoaib04, thanks for showing your interest.
Your talk is been accepted for upcoming PyData meetup on 14th of April.
Can you please give us a brief write-up about you for introducing you also please mention your laptop operating system so we can do screen recording your talk.

Also, I had a query that is are you going to show demo on live twitter data or are you going to use pre-downloaded twit

[2019-03-28 14:44] Devendrabhat commented on #5
@mayankskb, @npande  I feel this talk is very much towards devops, it will be great if we can divide this talk into 3 parts and focus more on playing with data over this platforms.
First talk would be simple setup of redis server and how can we use it in which you can use elastic as well if can put this 2 things in 40 mins.
I'm suggesting it to divide because when it comes to installations and set

[2019-03-28 18:15] mohdshoaib04 commented on #12
Hi,

Myself Mohd. Shoaib, python developer with interest in data analytics, have
2+ years of experience, currently working at pragmatic techsoft pvt Ltd.

Operating system is ubuntu

I will show demo with downloaded data from twitter api.

Thanks.

On Thu 28 Mar, 2019, 7:46 PM Devendra Bhat, <notifications@github.com>
wrote:

[2019-03-28 18:18] npande commented on #5
I would like to not break this into multiple talks but yes we can always spread it into 40-45 min sessions. We can have 2/3 back to back session. So 1.5 to 2 hrs on a given day can work.
Or we can skip handson by attendees on their laptops. We can just help people understand how things works. I can provide instructions / steps to get the setup done. I am yet to attend pydata sessions and hence don

[2019-03-28 18:39] npande opened #15 "Log Analytics with Python"
Log Analytics with Python
Agenda:
 - Apache Web Server Access/Error Log Analytics from DevOps, Security Operations, and Business Operations Perspective
 - I will be using python, regex, pandas, pickle, matplotlib, seaborn, cartopy for demo. This will be end to end activity from log parsing to visualization.

Typical Duration:
 - It will be around 1.5 to 2 hrs session.

Notes
 - Training Lab/Confer

[2019-03-29 04:58] Devendrabhat commented on #12
@sigmakappa Can you please guide him through the tool which he need to have on ubuntu based system for screen recording.

[2019-03-29 06:58] mayankskb commented on #15
Hey,

Thanks for making the issue. It seems like we have a talk ready now for one more code and coffee session. let me know if you want to take this as a workshop or just a talk.

Regards,
Mayank Mishra

[2019-03-29 07:03] mayankskb commented on #5
We do have hand-on session if you would like to take this as a workshop. In that case We need to take it for a "Code and Coffee" event just for a workshop. Let me know if you want to take this ahead as a hands-one. If yes cool but if wanted to take this as a regular talk let me know the time window that we need to keep for you buddy.

Regards,
Mayank Mishra

[2019-03-29 14:57] bitsbuffer commented on #3
Please find the presentation link below:
https://www.slideshare.net/secret/fqVI1q9Hkb8TEN

[2019-03-30 18:03] Devendrabhat opened #16 "Dockerize your Dev environment with DOCKERFILE scripting."

[2019-03-30 18:04] Devendrabhat commented on #16
@sigmakappa please guide me with video recording on my Ubuntu system.

[2019-03-30 18:50] sigmakappa commented on #16
Sure @Devendrabhat . Let me figure out the best screen recorder for Ubuntu. Currently I have a good open source option for Windows only.

[2019-03-30 21:48] akshaybahadur21 opened #17 "Haptic Learning : inferencing human features using deep networks"
For providing haptic feedback, users have been dependent on external devices including buttons, dials, stylus or even touch screens. The advent of machine learning along with its integration with computer vision has enabled users to efficiently provide inputs and feedback to the system. A machine learning model consists of an algorithm which draws some meaningful correlation between data without b

[2019-04-04 05:25] akhilcalsoft opened #18 "Introduction to Streaming Analytics"
**Streaming Analytics:**

- Introduction to  data stream and unbounded data.
- Difference between stream and batching processing.
- IOT use cases for stream processing.
- Demo of IOT device data stream processing using Apache kafka and Apache Spark structured streaming.

**Talk Duration**: ~30 mins

[2019-04-06 19:46] sigmakappa commented on #16
Hi here. Apologies for being a bit late in replying in suggesting a screen video recorder. Please go through the following readme to get an available screen recorder for your OS:

https://github.com/sigmakappa/ScreenRecorders

Let me know if a screen recorder for your OS is not available here.

[2019-04-06 19:46] sigmakappa commented on #14
Hi here. Apologies for being a bit late in replying in suggesting a screen video recorder. Please go through the following readme to get an available screen recorder for your OS:

https://github.com/sigmakappa/ScreenRecorders

Let me know if a screen recorder for your OS is not available here.

[2019-04-06 19:47] sigmakappa commented on #13
Hi here. Apologies for being a bit late in replying in suggesting a screen video recorder. Please go through the following readme to get an available screen recorder for your OS:

https://github.com/sigmakappa/ScreenRecorders

Let me know if a screen recorder for your OS is not available here.

[2019-04-09 05:58] rigvedshenai opened #19 "Election related data analysis"
A brief overview of all the election related data available from various sources.
Run-through of a project of putting various data sets together and visualizing trends.
What would next step of elections analysis would look like?
How social media or news media can be used to get the trends.
Possible misuse and theft of data. #lightningtalkproposal

[2019-04-13 12:05] mayankskb commented on #18
Hey there. Apologies for being a bit late in replying in suggesting a screen video recorder. Please go through the following readme to get an available screen recorder for your OS:

https://github.com/sigmakappa/ScreenRecorders

Let me know if a screen recorder for your OS is not available here.

[2019-04-13 12:06] mayankskb commented on #18
Kindly install this screen recorder on the machine which you will use for giving presentation and demo. We will need screen recording for making video to upload that on PyData Official youtube channel.

[2019-04-15 10:07] #18 closed, assigned to mayankskb

[2019-04-15 10:08] mayankskb commented on #16
We need to reschedule your talk @Devendrabhat. Presenting my apologies for canceling it the last moment.

Thanks

[2019-04-15 10:09] mayankskb commented on #14
Thanks for giving such wonderful and resourceful talk.

[2019-04-15 10:09] #14 closed, assigned to kaniruddha, mayankskb, sigmakappa

[2019-04-15 10:09] mayankskb commented on #13
Thanks for giving such wonderful talk.

[2019-04-15 10:09] #13 closed, assigned to kaniruddha, mayankskb, sigmakappa

[2019-04-15 10:10] mayankskb commented on #12
Thanks @shoaib04 for giving the talk. Closing the issue

[2019-04-15 10:10] #12 closed, assigned to Devendrabhat

[2019-04-15 10:12] mayankskb commented on #19
Hey @rigvedshenai,

Rigved, It is a request, Can you convert your lighning talk in full time talk making it for 45 mins??

Thanks
Mayank Mishra

[2019-04-15 14:02] Disha-Patil commented on #13
It was very nice experience. Thank you for having me.

Hoping to stay in touch with the community :)

On Mon 15 Apr, 2019, 3:39 PM Mayank Mishra, <notifications@github.com>
wrote:

[2019-04-16 04:16] rigvedshenai commented on #19
Sure. Would be happy to.

[2019-04-16 18:34] sigmakappa commented on #19
Hey @mayankskb thanks for the extension request.

Hi @rigvedshenai thanks for the proposal. Would love to hear more about this idea and its contents. Would love to have a word with you soon. Ping me at 9756766726 (Whatsapp/messages) and lets arrange a time for a quick 5 minute call on this.  Looking forward for your call...

[2019-05-01 09:15] PyDataPune commented on #19
[Outline For talk on Election Analysis.pptx](https://github.com/PyDataPune/Talks/files/3134117/Outline.For.talk.on.Election.Analysis.pptx)

Provided by Rigved

[2019-05-01 09:19] PyDataPune commented on #9
Hey,

Let me know if you are available for May 24/25. If yes we can schedule your talk for May's PyData Pune Gang Up Event.

Thanks
Admin @ PyData Pune

[2019-05-01 09:23] priyanka-kasture commented on #9
I'm available on, May 25. I have my exam on May 24.

Thanks!

On Wed, May 1, 2019, 2:49 PM PyData Pune <notifications@github.com> wrote:

[2019-05-01 09:25] PyDataPune commented on #9
Ok Lemme see what date we will get finalised then will get back to you

[2019-05-01 09:28] PyDataPune commented on #9
cool May 25 is Saturday. My bad should ask for 25/26. But not a problem 25 is super-awesome.

Prepare your content design the flow and please let us know.

[2019-05-01 10:24] priyanka-kasture commented on #9
Sure! I'll send you all the details in about 3 days. :)

On Wed, May 1, 2019, 2:58 PM PyData Pune <notifications@github.com> wrote:

[2019-05-04 07:43] PyDataPune commented on #4
Please go through the following readme to get an available screen recorder for your OS:

https://github.com/sigmakappa/ScreenRecorders

[2019-05-05 08:14] DivJ opened #20 "Introduction to Survival Analytics"
Survival Analytics is a statistical technique used to predict the "time" expected till occurrence of an event.
I would like to present a basic introduction,when to use,how to use as well as comparison with various existing methods.

#LightningTalkProposal

[2019-05-08 07:12] mayankskb commented on #9
Hey Priyanka,

We are waiting for the details

Thanks

[2019-05-08 07:16] shreyas-kalmegh commented on #20
Hi,
We have confirmed your talk. Let us know when your content is ready and if you are available on 25th of May.

[2019-05-08 07:16] mayankskb commented on #17
Hey,

Thanks for making the issue.
The topic and content seem interesting. Would you pen down the line up for the talk of topics and a flow.

Also, please let us know the time that you would need to execute the talk.

Thanks
Mayank Mishra

[2019-05-08 08:26] SaranjeetKaur opened #21 "Bayesian Inference using Stan"
Stan is a probabilistic programming language. I will be discussing a bit about what is "Bayesian Inference" and demonstrate some examples using Stan.

[2019-05-08 09:39] mayankskb opened #22 "[Talk Proposal] - Model Assessment and Model Selection"
Hey,
Model Assesment and Model Summary are two important tasks that need to take care of cautiously. In this talk, I will take people through the roads of model assessment and how to do model selection.

Thanks
Mayank Mishra

[2019-05-08 14:16] DivJ commented on #20
Hi,
When is the meetup in June?
I am not in city on 25th.

[2019-05-09 04:00] mayankskb commented on #20
Thanks, Div. We will keep you posted about June Dates.

[2019-05-09 15:07] mayankskb commented on #9
Just a Quick reminder. Do Provide us the topics about which you are going to talk and the flow for the same.

[2019-05-09 18:11] shubhamjante opened #23 "Machine Learning Deployment"
Will demonstrate how to deploy machine learning model? Various architectures and hands on deployment

[2019-05-10 08:23] priyanka-kasture commented on #9
Hello Mayank,

The flow would be:

Introduction to optimization.
The need of optimization in artificial intelligence.
Optimization algorithms.
- Types.
-- Physics based.
-- Biology based.
-- Geography based.
- Loss functions.
- First order algorithms.
- Second order algorithms.
- Miscellaneous.
Current research trends.
Applications.

Thank you.

On Thu, May 9, 2019, 8:37 PM Mayank Mishra <notifica

[2019-05-12 19:33] akshaybahadur21 commented on #17
@mayankskb

In the beginning, I would address the crowd and convey my story of how I got into machine learning and data science. Followed by a quick demo of Digit Recognition. Then a walkthrough of how I built it and all the problems I faced as well as optimizing the solution.

Next, I would talk about my 2nd project Emojinator and how I came up with the idea. Some code walkthrough and future.

Fi

[2019-05-13 11:34] mayankskb commented on #9
Hey,

Thanks!! Finalizing your talk for May 25, 2019. Please make your slides and content.
@sigmakappa Kindly mention the details regarding the screen recording.

Thanks

[2019-05-13 15:54] mayankskb commented on #23
Hey,

Thanks for making a talk proposal. The idea is interesting. Please let us know the flow of talk, outlining and what concepts and probable methods you will be covering.

Thanks
Mayank Mishra

[2019-05-15 15:48] shubhamjante commented on #23
Hi Team,
We always talk about Machine Learning Models and its performance on available data. In order to get benefit and provide services to other people who don't know ML we've to deploy our ML model. However, in production environment there are lot of data that may change over the short period of time.
I'll be covering following points:
- Traditional Software Development vs Machine Learning Proc

[2019-05-16 06:00] mayankskb commented on #23
By any chance, planning to show live deployment or will just be talking about how to deploy only??

[2019-05-16 16:02] shubhamjante commented on #23
There will be a live demo on deployment.

[2019-05-17 05:43] rigvedshenai commented on #19
Hi @mayankskb @sigmakappa and team,
Would like to give a demo talk this saturday evening over Hangouts.
let me know the time and mode convenient to you guys,

[2019-05-17 06:25] rigvedshenai commented on #19
I am putting in all the relevant links and references for the talk here.
https://docs.google.com/document/d/19Kq49etN3m5Da79kjYIFJPjBD6wRZDZhghpoujSfqas/edit?usp=sharing

Will keep on updating this.

[2019-05-17 07:52] sigmakappa commented on #19
Hi there Rigved.

Yeah this should have been done during this weekend only. But since I'm out
and would be back on Monday night, I request you to reschedule this for the
next week somewhere on Tuesday or after at night.

Thanks!

On Fri, 17 May 2019, 11:55 am Rigved Shenai, <notifications@github.com>
wrote:

[2019-05-18 19:05] sigmakappa commented on #9
Screen recorder details here: https://github.com/sigmakappa/ScreenRecorders

[2019-05-18 19:07] sigmakappa commented on #22
Idea looks very promising Mayank. Let's brainstorm...

[2019-05-20 06:48] rigvedshenai commented on #19
I am setting up the demo talk via hangouts on 21st May - 9PM
Please ping me your gmail addresses at rigved12shenai@gmail.com and I will invite you via hangout.
Thanks.

[2019-05-20 07:52] sigmakappa commented on #19
It's shagunprakash19@gmail.com here.

*Rest please do the needful.*

Thanks!!

On Mon, 20 May 2019, 12:18 pm Rigved Shenai, <notifications@github.com>
wrote:

[2019-05-20 09:15] mayankskb commented on #9
Hey Priyanka,

Just FYI, We've postponed the meetup for 25 May. Will keep you posted about the updates.

Thanks
Mayank Mishra

[2019-05-20 14:14] priyanka-kasture commented on #9
Sure Mayank. Thanks for informing.

On Mon, May 20, 2019, 2:45 PM Mayank Mishra <notifications@github.com>
wrote:

[2019-05-23 17:22] shubhamjante commented on #23
Hi @mayankskb
If you need any additional information please let me know. I'll be happy to share additional information.
Thanks.

[2019-06-01 18:17] mayankskb commented on #9
Hey,

We are back with the dates. Your talk is already accepted here I am looking for your availability for June 22, 2019. If available then we are going to add it for June event.

Do let us know asap.

Thanks
Mayank Mishra

[2019-06-01 18:17] mayankskb commented on #20
Hey,

We are back with the dates. Your talk is already accepted here I am looking for your availability for June 22, 2019. If available then we are going to add it for June event.

Do let us know asap.

Thanks
Mayank Mishra

[2019-06-02 03:17] priyanka-kasture commented on #9
Thank you for the update, Mayank. I confirm my availability on the morning
of 22nd of June, 2019; from 10am - 12:30pm, at the maximum.

On Sat, Jun 1, 2019, 11:47 PM Mayank Mishra <notifications@github.com>
wrote:

[2019-06-02 18:57] mayankskb commented on #9
Cool!! There I am adding your talk on the list.

Please finalize your talk.

CONFIRMED for June 22, 2019.

Thanks
Mayank Mishra

[2019-06-06 03:39] mayankskb commented on #7
Hey,
When I expect a response from your side

Thanks
Mayank Mishra

[2019-06-06 03:39] mayankskb commented on #5
Hey,

When I can expect a response from your side

Thanks
Mayank Mishra

[2019-06-06 03:41] mayankskb commented on #8
Hey Himanshu,

Thanks for making an issue. Presenting apologies for a delayed response. We would like to have your talk for July PyData Meetup. Will let you know about the dates shortly.

Keep your stuff ready.
Thanks
Mayank Mishra

[2019-06-06 03:42] mayankskb commented on #17
Hey Akshay,

Thanks for making an issue. Presenting apologies for a delayed response. We would like to have your talk for July PyData Meetup. Will let you know about the dates shortly.

Keep your stuff ready.
Thanks
Mayank Mishra

[2019-06-06 03:46] mayankskb commented on #9
Hey,

Once you finalized your content do let me know the length of the talk.

[2019-06-06 15:54] PyDataPune commented on #8
Hey,
DO let us know your availability for July,

[2019-06-06 18:42] akshaybahadur21 commented on #17
@mayankskb - Thanks.
Looking forward to it.

[2019-06-07 03:46] himanshurawlani commented on #8
Hi PyData Pune Team,

Currently I have no plans for July. But I'll confirm my availability by next week. Do let me know what dates are you planning.

[2019-06-07 08:14] sigmakappa commented on #19
@rigvedshenai your talk is on the list.

CONFIRMED for June 22, 2019.

[2019-06-21 08:51] PyDataPune commented on #16
Finalised and accepted for June 22, 2019

[2019-06-21 08:52] PyDataPune commented on #19
Hi here. Apologies for being a bit late in replying in suggesting a screen video recorder. Please go through the following readme to get an available screen recorder for your OS:

https://github.com/sigmakappa/ScreenRecorders

Let me know if a screen recorder for your OS is not available here.

[2019-06-21 08:52] PyDataPune commented on #9
Hi here. Apologies for being a bit late in replying in suggesting a screen video recorder. Please go through the following readme to get an available screen recorder for your OS:

https://github.com/sigmakappa/ScreenRecorders

Let me know if a screen recorder for your OS is not available here.

[2019-06-24 08:23] PyDataPune commented on #9
Thanks for delivering a talk at PyData Pune!!

[2019-06-24 08:23] #9 closed, assigned to shreyas-kalmegh, mayankskb

[2019-06-24 08:24] #19 closed, assigned to shreyas-kalmegh, sigmakappa

[2019-06-24 08:45] #16 closed, assigned to Devendrabhat, sigmakappa

[2019-06-24 08:46] PyDataPune commented on #17
@akshaybahadur21 Once your content is ready can you let us know the time window required to execute it.

Thanks

[2019-06-24 08:47] PyDataPune commented on #8
I hope you are good to go for July meetup. Do let us know about that?

[2019-06-24 08:49] akshaybahadur21 commented on #17
@PyDataPune - I am thinking of a 1 hour session with Q/A at the end.
The content is ready, I just need to arrange it in a python notebook for future usage.
When is the july meetup happening?

[2019-06-26 12:00] PyDataPune commented on #17
Planning for July 27.

[2019-06-26 12:07] akshaybahadur21 commented on #17
Alright.
I will keep everything ready till then.

[2019-06-26 21:14] subwayHareArmy opened #24 "[Talk Proposal] A 'Hello World' for Quantum Annealing"
Hello, I'm Ayush.
I wanted to propose a Lightning Talk for the next meetup. Here are the details.

===========
Short Summary -

The hype and mystery surrounding Quantum Computing can make it seem like a daunting field to get into, especially for outsiders.
My talk hopes to deliver some insight into the field by presenting a 'Hello World' code for Adiabatic Quantum Computing, a subfield of Quantum

[2019-06-27 17:01] akshaybahadur21 commented on #17
@PyDataPune - Updated the topic.

[2019-06-27 17:39] PyDataPune commented on #17
Cool.. Thanks Akshay!! Also do send me lines for your introduction.

Thanks

[2019-06-27 17:46] mayankskb commented on #24
Hey,

Thanks for making an issue. We would like to have your talk for our July edition. Setting things for July 27, 2019. Will give u final dates only after receiving confirmation.

From our side, talk is confirmed.

Thanks
Mayank Mishra

[2019-06-27 17:47] mayankskb commented on #8
Hey Himanshu,

We are setting July event themed on CNNs. Do let me know your availability for July 27, 2019.

Thanks
Mayank Mishra

[2019-06-27 18:35] akshaybahadur21 commented on #17
@PyDataPune -
Bio : My interest in computer science sparked when I was working on a women's safety application aimed towards the women welfare in India and since then I have been incessantly working on improving my skills. I stumbled upon machine learning then. I have made several open-source contributions in the field of ML and would continue to do so. I have made successful prototypes like an au

[2019-06-28 09:27] himanshurawlani commented on #8
Hi Mayank,

That sounds great! I'll make myself available on 27th July, 2019.

Thanks,
Himanshu Rawlani.

[2019-06-29 15:11] akshaybahadur21 commented on #17
@PyDataPune - I want to know how and where the session would be held.
Some details would be nice

[2019-07-01 11:43] subwayHareArmy commented on #24
Hello.

Thanks for the confirming it from your end. There's a bit of work still remaining, but I'm okay with having it on the 27th of July since I'll be leaving on the 28th/29th.
Consider this my confirmation.

Ayush

[2019-07-02 05:47] mayankskb commented on #24
Hey,

We will be recording your session. So if you have slides/demo/paper. Kindly keep it handy.

Also, you need to install screen recording software which can capture the presentation on your laptop.

If you have any other alternate go with that if not then please go through the following readme to get an available screen recorder for your OS:

https://github.com/sigmakappa/ScreenRecorders

Let m

[2019-07-02 05:49] mayankskb commented on #17
Hey,

We are talking with Persistent to keep our meetup there and they are very well in sync with us.

We will be recording your session. So if you have slides/demo/paper,  keep it handy.

Also, you need to install screen recording software which can capture the presentation on your laptop.

If you have any other alternate go with that if not then please go through the following readme to get an a

[2019-07-02 05:49] mayankskb commented on #17
In case of any other doubt feel free to write it.

Thanks
Mayank Mishra

[2019-07-02 05:49] mayankskb commented on #8
Hey,

We will be recording your session. So if you have slides/demo/paper. Kindly keep it handy.

Also, you need to install screen recording software which can capture the presentation on your laptop.

If you have any other alternate go with that if not then please go through the following readme to get an available screen recorder for your OS:

https://github.com/sigmakappa/ScreenRecorders

Let m

[2019-07-03 03:45] cooldeepVP commented on #23
Hi @mayankskb ,
Shubham is ready with his talk can you prioritise his talk : )

[2019-07-03 08:59] mayankskb commented on #8
Hey Himanshu,

Please send us a small writeup about you.

Thanks
Mayank Mishra

[2019-07-03 09:01] mayankskb commented on #24
Hey Ayush,

Please send us a small writeup about you.

Thanks
Mayank Mishra

[2019-07-04 17:36] akshaybahadur21 commented on #17
@mayankskb  - I have prepared a python notebook for the same.
For screen recording, I will be using an app for mac. Will let you know after testing.

[2019-07-16 19:46] akshaybahadur21 commented on #17
@mayankskb - Can you provide official confirmation to the event.
Thanks

[2019-07-17 06:16] PyDataPune commented on #24
Hey Ayush,
Please send a small writeup about you for introducing you and also help us with your contact details.
Thanks

[2019-07-17 06:18] PyDataPune commented on #17
Yes, @akshaybahadur21 The event is confirmed and accessible via this link : https://www.meetup.com/PyData-Pune/events/262828324/
You need to do RSVP through this link and can also send it to anyone who is interested in this event.

Thanks

[2019-07-18 04:16] akshaybahadur21 commented on #17
@PyDataPune - Thankyou

[2019-07-18 04:18] akshaybahadur21 commented on #17
@PyDataPune, @mayankskb  - One suggestion. It would be great if you include Speaker name in the meetup link. That would be really helpful while sharing this.

[2019-07-18 07:07] PyDataPune commented on #17
Yes!! That's a cool suggestion but this time we went out of word limit and hence need to remove a few things and even shortened the description. We are planning to circulate the introductory templates for speakers over our twitter handler lets see. When we can do this??? Probably will try to get this done by the weekend.

@akshaybahadur21 Kindly do send us your contact details like mob number and

[2019-07-22 06:55] mayankskb commented on #7
Hey Sanjot..

Help us in to quickly scheduling your talk.. Kindly provide us the content and planner as soon as possible.

Thanks
Mayank Mishra

[2019-07-24 17:05] subwayHareArmy commented on #24
Hello.

Sorry for the late reply.

I'm downloading ShareX mentioned in the repository you'd linked for Screen
Recording since I use Windows. I'll let you know if I face any problems in
doing so.
As for my personal contact details:

*Name:* Ayush Yembarwar

*Mobile Number:* +91-7690023451

*Email Address:* ayushyembarwar@gmail.com *or*
f2016657@pilani.bits-pilani.ac.in

*About Me:* Ayush Yembarwar

[2019-07-24 17:07] subwayHareArmy commented on #24
Hello.

Sorry for the late reply.

I'm downloading ShareX mentioned in the repository you'd linked for Screen
Recording since I use Windows. I'll let you know if I face any problems in
doing so.
As for my personal contact details:

*Name:* Ayush Yembarwar

*Mobile Number:* +91-7690023451

*Email Address:* ayushyembarwar@gmail.com *or*
f2016657@pilani.bits-pilani.ac.in

*About Me:* Ayush Yembarwar

[2019-07-27 14:34] shaksham95 opened #25 "Intelligence and Learning"
**Title of the talk**
Genetic Algorithm - GA

**Description**
The session will be focused on one type of evolutionary algorithms called GA. I will cover the following:-

- The what/why of genetic algorithms?
- Walkthrough of the GA in detail
- Code walkthrough

**Prerequisites**

- Familiarity with python and DS related packages like numpy, matplotlib is required.
- Curiosity to learn 😊

**Duratio

[2019-07-29 05:34] mayankskb commented on #25
Hey Sam,

Thanks for making an issue for the talk proposal. Yours talk line seems awesome to me. I would like to know more about the details like what all you will cover under GAs.

Thanks
Mayank Mishra

[2019-07-29 05:45] mayankskb commented on #24
Hey Ayush,

Kindly upload the screen recording here: https://drive.google.com/drive/folders/1_az_VJ5sNWfKFdtcRqCfBnucrC_MVmBR?usp=sharing

Let me know in case of any issue related to access the folder.

Thanks
Mayank Mishra

[2019-07-29 05:46] mayankskb commented on #8
Hey Himanshu,

Kindly upload your screen recording here: https://drive.google.com/drive/folders/1_az_VJ5sNWfKFdtcRqCfBnucrC_MVmBR?usp=sharing

Let me know in case of issues related to access for the folder.

Thanks
Mayank Mishra

[2019-07-29 05:51] subwayHareArmy commented on #24
I'm not facing any issues, uploading it right now.

On Mon, Jul 29, 2019 at 11:15 AM Mayank Mishra <notifications@github.com>
wrote:

[2019-07-29 05:57] mohdshoaib04 opened #26 "Forecasting time series data effectively"
In this session i will introduce audience to the concept of forecasting and live code demo for forecasting and showcase time series example that have strong seasonal effects and several seasons of historical data. We will be using Facebook's Prophet library for forecasting purpose.

I want to target this session to audience having intermediate python knowledge and who are eager for forecasting and

[2019-07-29 06:11] mayankskb commented on #24
cool!! Do let me know once done

[2019-07-29 06:13] shaksham95 commented on #25
Hey @mayankskb ,

I will start with an intuitive example of why GA is required, then will cover Darwin's law's which will be followed by the description of the algorithm itself (steps in the algorithm and how those steps are performed using examples) and wrapping it up by code walkthrough.

This is a high-level overview of the entire talk, depending on the time will either demonstrate both the cod

[2019-07-29 06:15] mayankskb commented on #26
Thanks, Shoaib for the proposal!!!. I am quietly excited about time series analysis. Do let me know the talk line up once your talk is ready Will try to arrange an entire event focussed on time series data and associated analysis.

Thanks
Mayank Mishra

[2019-07-29 06:15] subwayHareArmy commented on #24
It's done uploading, it's an mp4 file.

On Mon, Jul 29, 2019 at 11:41 AM Mayank Mishra <notifications@github.com>
wrote:

[2019-07-29 06:18] mayankskb commented on #24
Yes!! Thanks, buddy will process the talk as soon as possible and will send you the link after uploading on youtube.

For now, closing the issue. feel free to propose new talks as and when you come to Pune. Would love to conduct a full time talk this time

[2019-07-29 06:18] #24 closed, assigned to kaniruddha, mayankskb

[2019-07-29 06:21] subwayHareArmy commented on #24
Thanks, I'll definitely take you up on that opportunity!

[2019-07-29 06:25] mayankskb commented on #24
yo meanwhile stay connected with us on Telegram or on whatsapp : 8380810361

[2019-07-30 09:18] akshaybahadur21 commented on #17
@PyDataPune - Thanks for having me.
Can you please share the recording and the next steps.

[2019-07-30 09:26] mayankskb commented on #17
Hey,

We are processing the recording from the DSLR. Soon we will upload it in google drive and share the drive with you. So that you can do screen recording.

Meanwhile please find the photographs of the event. I m sharing the photo album with you.

Thanks
Mayank Mishra

[2019-07-30 09:28] akshaybahadur21 commented on #17
@mayankskb - Thank you.
I will do the needful.
Thanks for the wonderful event.

[2019-07-30 09:31] mayankskb commented on #17
Thanks, Akshay for your presence and the wonderful talk. We would like to have you more in the future. If you want to come to meetup any point in time ping me directly on WhatsApp 8380810361. Also, we would like to have more talks in the future so whenever you want to deliver feel free to create an issue and we will get back to you with the dates and timing... Now you also know the procedure so th

[2019-08-01 15:03] akshaybahadur21 commented on #17
@mayankskb - Sure.
Will let you know.

[2019-08-08 08:16] mayankskb commented on #8
Thank you for uploading the screen recording. We will process it as soon as possible and will share the link with you.

[2019-08-08 08:17] mayankskb commented on #8
For now, closing this issue. Feel free to make a new issue for any new talk proposal.

[2019-08-08 08:17] #8 closed, assigned to shreyas-kalmegh, mayankskb

[2019-08-08 08:18] mayankskb commented on #17
Closing this issue. Feel free to make a new issue for any new talk proposal.

[2019-08-08 08:18] #17 closed, assigned to shreyas-kalmegh, mayankskb

[2019-08-08 08:19] mayankskb commented on #20
Hey,

Do lets us know when we can have you talk??

[2019-08-14 07:11] mayankskb commented on #26
Hey Shoaib,

Please let me know when we can have your talk on board. How about this month.

Thanks
Mayank Mishra

[2019-08-14 07:13] mayankskb commented on #25
Hey Shaksham,

I am interested in your talk, looks like this month only you delivered it to Python Pune. IS it fine with you that we will have your talk onboard next month??

Please let me know your view about this.

Thanks
Mayank Mishra

[2019-08-14 07:14] mayankskb commented on #23
Hey Shubham,

Can we have your talk this month? Please let me know about it.

Thanks
Mayank Mishra

[2019-08-14 07:17] mayankskb commented on #21
Hey Saranjeet,

I am interested in having your talk, How you want to take ahead? As a lightning talk or as a full-time talk. For full-time talk, you can go fro 20-1 hr and full lightning talk you will have 15 mins only.

Thanks
Mayank Mishra

[2019-08-14 07:18] mayankskb commented on #15
Hey,

Please let me know when we can have your talk onboard?

Thanks
Mayank Mishra

[2019-08-14 07:20] shaksham95 commented on #25
Hey @mayankskb ,

Sure, next month works perfectly. I will update the content as well so that there is no to less repetition from what I took at python Pune. If you want the same talk to be delivered, then I am okay with that as well.

Thanks
Shaksham

[2019-08-14 07:43] mayankskb commented on #25
It depends on you. I am not much aware of what you delivered at Python Pune.

[2019-08-14 07:57] shaksham95 commented on #25
Okay, then I will prepare accordingly for the next month's meetup. It will mostly be the stuff that I have already mentioned in this issue, might be few addons.

[2019-08-14 08:08] mayankskb commented on #25
Cool Fine with me :)

[2019-08-20 08:05] shubhamjante commented on #23
Hi Mayank,
Sure, we can talk about it.

Thanks,
Shubham Jante

[2019-08-20 14:21] mayankskb commented on #23
Thanks, Shubham! So, please share your line up for the event.

[2019-08-20 14:32] mayankskb commented on #21
Hey,

Just a gentle reminder. Please let us know the details about the talk

[2019-08-23 17:30] shubhamjante commented on #23
@mayankskb
Sure Mayank will send it to you. Do you want me to email the details or post here?

[2019-08-24 09:57] sonarsushant opened #27 "Time Series Forecasting with FbProphet and Comparison with Other Algorithms"
**Title:**
Time-series Forecasting using FBProphet

**Description:**
In this session, I will talk about analysis of time-series data and training a model to forecast it. I will discuss how trend, seasonality as well as special events like festivals, promotion days make impact on time-series data and can be used to train model. I will discuss Facebook's 'fbprophet' library and its comparison with t

[2019-08-27 11:25] sushmitanandi opened #28 "Business Statistics"

[2019-08-30 06:00] mayankskb commented on #23
please post them here

[2019-09-03 06:42] shaksham95 commented on #25
Hey @mayankskb ,

Can you please confirm if there will be a meetup this month? If yes, then an approximate schedule? As we discussed we want to have this talk scheduled for the coming meetup, so I have to plan accordingly.

[2019-09-04 06:35] PyDataPune commented on #28
Hi,

Thanks for making an issue. We would like to know more about what exactly you are planning to cover in statistics.

Kindly add those details in the description for this issue.

Thanks
Admin @ PyData Pune

[2019-09-04 16:45] pushkarnimkar opened #29 "Proposal for lightning talk on ipython widgets framework."
# Description
IPython widgets framework is created with the intention of bridging the gap between data practitioner and data. Eventhough it's a well known framework, I find it is worth to have an introductory talk about it.

# Prerequisite
Familiarity with python and jupyter lab/notebook.

# Scope
* Introduction to interact / quick-start [doc-link](https://ipywidgets.readthedocs.io/en/stable/examp

[2019-09-06 03:29] suvarnak opened #30 "Proposal for lightening talk: Transfer learning with pre-trained models"
Training a deep neural network requires lot of labelled data, engineering (for choosing architecture and tuning hyper parameters) and of course, compute. If wish to reap the benefits for deep learning without the pain of training & tuning, pre-trained models can provide solution. This introductory talk can help in getting started with transfer learning.

### **Prerequisite**
Familiarity with Pytho

[2019-09-06 09:26] pushkarnimkar commented on #29
https://ipywebrtc.readthedocs.io/en/latest/api.html#ipywebrtc.webrtc.CameraStream

[2019-09-06 16:43] shubhamjante commented on #23
@mayankskb

I'll be covering following points:

- Traditional Software Development vs Machine Learning Process
- Machine Learning Pipeline
- General Guidelines to Data Scientists to design predictive pipeline
- DevOps for Machine Learning
- Agile way for Machine Learning Projects
- Static vs Dynamic Training and Prediction
- Various ML Production System Architecture
- Production Systems
- Technolo

[2019-09-08 10:18] anchalkhare opened #31 "Likelihood. Did we infer it correctly in Machine Learning space."
In this session I will introduce audience to the concept of likelihood in Machine learning. With live code demo we will see the inference of likelihood in decision tree and how this inference can we tweaked to mold model outputs in business context . We will be using Sklearn library and pharma data.

I want to target this session to audience having intermediate python knowledge and who are eager t

[2019-09-11 08:24] mayankskb commented on #31
Hi Anchal,

Thanks for making an issue.

Thanks
Mayank Mishra

[2019-09-11 17:30] SaranjeetKaur commented on #21
Need some time with this

On Tue, Aug 20, 2019, 20:02 Mayank Mishra <notifications@github.com> wrote:

[2019-09-11 18:29] mayankskb commented on #23
Hey Shubham,

Please confirm your availability for Oct 5.

Thanks
Mayank Mishra

[2019-09-11 18:32] mayankskb commented on #30
Hey Suvarna,

Thanks for making an issue. Just FYI,  lightning talk will be of 15 mins max. You need to completed your talk with that period only.

Please give confirmation for the above info and your consent for the same.

Also, let me know about your availability for Oct 5.

Thanks
Mayank Mishra

[2019-09-12 01:23] suvarnak commented on #30
Hello Mayank,

I am ok with 15 minutes talk. I  wont be able to have detailed code walkthrough for the usecase, but I can share the code for participants to explore later.
 I am available on Oct 5.

Regards

[2019-09-13 06:56] mayankskb commented on #30
Thanks!! Scheduling your lightning talk for Oct 5, 2019.

Regards,
Mayank Mishra

[2019-09-13 06:57] mayankskb commented on #30
Hey,

We will be recording your session. So if you have slides/demo/paper. Kindly keep it handy.

Also, you need to install screen recording software which can capture the presentation on your laptop.

If you have any other alternate go with that if not then please go through the following readme to get an available screen recorder for your OS:

https://github.com/sigmakappa/ScreenRecorders

Let m

[2019-09-13 06:59] mayankskb commented on #25
Hi,

We will not have a talk based session this month. However, we have one scheduled for Oct 05, 2019. Please share your availability for the same.

Thanks
Mayank Mishra

[2019-09-13 17:00] suvarnak commented on #30
Thanks Mayank,
I just tested screen recording with ShareX and its working fine.
Regards
Suvarna

[2019-09-16 07:03] mayankskb commented on #31
Hi Anchal,

We would like to have your talk for Oct 05, 2019 @ TomTom. Can you please confirm your availability for the same.

Thanks
Mayank Mishra

[2019-09-16 07:03] mayankskb commented on #31
Hi Anchal,

We would like to have your talk for Oct 05, 2019 @ TomTom. Can you please confirm your availability for the same.

Thanks
Mayank Mishra

[2019-09-16 08:01] vkaustubh opened #32 "Optimizers: Beyond Simple Gradient Descent"
An introductory book on Machine Learning often motivates a cost function and finally explains using a simple convex surface how the gradient descent algorithm works in finding the solution to the minima of the cost function. But we all know that when using high level APIs such as Keras or Scikit-Learn, we use much more than the simple gradient descent. We casually write `optimizer='adam'` or `opti

[2019-09-16 11:56] anchalkhare commented on #31
Hi Mayank,

Sure. Looking forward to it.

Regards,
Anchal

On Mon, 16 Sep 2019, 12:33 Mayank Mishra, <notifications@github.com> wrote:

[2019-09-17 07:08] shubhamjante commented on #23
Hi @mayankskb,

I'm available on 5th Oct.
Could you please let me know the agenda? So that i'll start my preparations.

[2019-09-17 07:45] mayankskb commented on #23
Agenda, as in??

[2019-09-17 07:47] mayankskb commented on #30
Hi,

Please send a small write-up about you. We will use it for introducing you.

Thanks
Mayank Mishra

[2019-09-17 07:47] mayankskb commented on #31
Hey,

We will be recording your session. So if you have slides/demo/paper. Kindly keep it handy.

Also, you need to install screen recording software which can capture the presentation on your laptop.

If you have any other alternate go with that if not then please go through the following readme to get an available screen recorder for your OS:

https://github.com/sigmakappa/ScreenRecorders

Let m

[2019-09-17 07:48] mayankskb commented on #31
Confirming your talk for Oct 05, 2019 @ TomTom

[2019-09-17 07:48] shubhamjante commented on #23
Like, what we'll be doing on 5th Oct.? Is it a meeting to discuss about my ideas and plan or is it something else?

[2019-09-17 08:21] anchalkhare commented on #31
Sure Mayank.

On Tue, Sep 17, 2019 at 1:17 PM Mayank Mishra <notifications@github.com>
wrote:

[2019-09-17 09:20] mayankskb commented on #23
This is a talk based meetup, where-in we have speakers and audience. Speakers will present their content through demo/whiteboarding, slides.

Just like a mini-conference.

For reference please go through this https://www.youtube.com/channel/UCEnagt088yX-ruTalg-GJeQ

Thanks
Mayank Mishra

[2019-09-17 16:55] suvarnak commented on #30
Hello Mayank,

Just mailed you. Please check.

Regards

[2019-09-18 03:42] swapniludar opened #33 "Map Features Extraction Service"
TomTom has been working on map features (e.g. roads, building, water areas, etc.. ) extraction from satellite imagery using Convolutional Neural Network (CNN) and Image Processing. In order to make the extraction capability accessible to everyone within TomTom, we have created “Map features extraction service”. It exposes simple and intuitive APIs over HTTP/2 for inference on trained models.

[2019-09-18 05:00] mayankskb commented on #23
Confirming your talk for Oct 05.

[2019-09-18 05:01] mayankskb commented on #23
Hey,

We will be recording your session. So if you have slides/demo/paper. Kindly keep it handy.

Also, you need to install screen recording software which can capture the presentation on your laptop.

If you have any other alternate go with that if not then please go through the following readme to get an available screen recorder for your OS:

https://github.com/sigmakappa/ScreenRecorders

Let m

[2019-09-18 05:02] mayankskb commented on #23
Also, please share a brief writeup about you that we will be using for introducing you.

Thanks

[2019-09-18 05:06] mayankskb commented on #33
Thanks Swapnil... Confirming talk for Oct 05, 2019.

[2019-09-18 05:07] mayankskb commented on #33
Please send a brief writeup about you, which we will be using for introducing you.

Thanks
Mayank Mishra

[2019-09-18 08:11] cooldeepVP commented on #23
Thanks Mayank,
Goodluck Shubham !

[2019-09-18 13:13] shubhamjante commented on #23
Hi @mayankskb,

I just wanted to confirm the time limit for my talk? How many people will attend the meetup, if you have any general idea that would be great?

Yes, I have screen recording software. Will be able to share the screen video after the talk.

About me:
Shubham is passionate about Machine learning and it's engineering aspects of it. While working at e-Zest solutions as Machine learning

[2019-09-18 13:14] shubhamjante commented on #23
Thank you @cooldeepVP.

[2019-09-18 13:20] mayankskb commented on #23
Hi,

About the length of talk at max 1 hr and 5-10 mins for Q n A.
About the audience: Till now what we have seen is on average foot-fall of 40-60 people.

Thanks,
Mayank Mishra

[2019-09-19 07:45] shubhamjante commented on #23
Thank you, Mayank

[2019-09-19 07:50] swapniludar commented on #33
Hi Mayank,

Ravi Panchani (@rvpanchani) from my team will be delivering a talk.

Here is a write up about him:
A software professional and machine learning enthusiast building a strong foundation for safer, cleaner and congestion free world by automating and improving maps production processes at TomTom.

Thank you!

Regards
Swapnil

[2019-09-24 07:06] adversarial-nik opened #34 "Safeguarding Machine Learning"
As a security researcher, I would like to open a discussion to make Machine Learning practices secure over ubiquity. We will discuss "not so commonly known" vulnerabilities in machine learning applications with some demos and real world incidents. Also, the mitigation if any.
Outline of talk -

### The pipeline AKA attack surface:
- We will start with an introduction to Machine Learning pipeline a

[2019-09-27 05:11] mayankskb commented on #23
Hi Shubham,

Please fill this form: https://forms.gle/h784Vv3cd2D6HY4M9

Thanks
Mayank Mishra

[2019-09-27 05:12] mayankskb commented on #30
Hi,

Please fill this form: https://forms.gle/h784Vv3cd2D6HY4M9

Thanks
Mayank Mishra

[2019-09-27 05:12] mayankskb commented on #31
Hi,

Please fill this form: https://forms.gle/h784Vv3cd2D6HY4M9

Thanks
Mayank Mishra

[2019-09-27 05:13] mayankskb commented on #31
Hi,

Please share a brief writeup about yourself for introducing you at the meetup. Also, let me know the status of screen recording software or any intricacies if there are.

Thanks
Mayank Mishra

[2019-09-27 06:01] shubhamjante commented on #23
Done

[2019-09-27 09:59] suvarnak commented on #30
Filled. Thanks .

On Fri, Sep 27, 2019 at 10:42 AM Mayank Mishra <notifications@github.com>
wrote:

[2019-09-27 10:06] mayankskb commented on #30
Thanks Suvarna for your kind support. See you on Oct 05, 2019

[2019-09-27 10:08] mayankskb commented on #23
Hi Shubham,

Please install the screen recording software mentioned above. or if you have any that would also work, but make sure that it should not leave water mark on the video

Thanks
Mayank Mishra

[2019-09-28 10:25] anchalkhare commented on #31
Hi Mayank,

I will share the writeup by tomorrow and will let you know about
installation issues of screen recording software if any.

Regards,
Anchal

On Fri, Sep 27, 2019 at 10:43 AM Mayank Mishra <notifications@github.com>
wrote:

[2019-09-29 20:07] dinuduke opened #35 "Wide range of techniques used to handle missing values"
Not everyone is confident in handling missing data.

Techniques used to handle missing.
- Reasons why and when we need to handle it.
- Pros and cons of handling Missing Data.
- Much more to Discuss and implement with realtime data.

[2019-09-30 06:42] shubhamjante commented on #23
Hi Mayank,
I've installed it. No, it will not include watermark.

[2019-09-30 10:18] anchalkhare commented on #31
Hi Mayank,

Here is the brief write-up about me.

Anchal Khare is having more than 8 years of data analytics and data science
industry experience. During the stint in Fractal, Infosys and ZS he has
worked in both business and operational use cases of machine learning and
deep learning. He has worked on multiple domains like Pharma/healthcare
,CPG, Finance, etc but personally healthcare domain seem

[2019-09-30 11:40] mayankskb commented on #31
Thanks Anchal. See you on Oct 05, 2019

[2019-09-30 11:41] mayankskb commented on #23
Cool!! See you on Oct 05, 2019

[2019-09-30 11:48] anchalkhare commented on #31
Thanks Mayank. Sure.

On Mon, Sep 30, 2019 at 5:10 PM Mayank Mishra <notifications@github.com>
wrote:

[2019-10-01 10:10] anchalkhare commented on #31
Hey Mayank,

How many minutes I will be given for this session?

On Mon, Sep 30, 2019 at 5:17 PM Anchal Khare <anchalkhare.kjs@gmail.com>
wrote:

[2019-10-01 10:46] mayankskb commented on #31
Hi Anchal,

Usually, we try to keep talk length for 45 mins only. Let me know how much you will need to execute your talk.

Thanks
Mayank Mishra

[2019-10-01 12:49] anchalkhare commented on #31
Hey Mayank,

45 mins seems fine to me.

Regards
Anchal

On Tue, 1 Oct 2019, 16:16 Mayank Mishra, <notifications@github.com> wrote:

[2019-10-05 12:34] SaranjeetKaur opened #36 "Time series forecasting"
Understanding what is a time series and it's characterization.

[2019-10-06 07:38] suvarnak commented on #30
I've shared an item with you:

TransferLearning_Suvarna.mp4
https://drive.google.com/file/d/1Tuj5z4rAnei3LlEGwAcmHPS7vq17-wIc/view?usp=sharing&ts=5d999a02

It's not an attachment -- it's stored online. To open this item, just click
the link above.

Hi,

This is screen recording of my talk on Transfer Learning

Best Regards

[2019-10-06 09:00] suvarnak commented on #30
Hello Mayank,

PF the code and slides at https://github.com/suvarnak/TL_demo.git
I have also uploaded the video of screen recording of the talk in my google drive.

Thanks & Best Regards
Suvarna

[2019-10-07 06:15] mayankskb commented on #31
Hi Anchal,

Please Upload your screen recording to this folder.
Link: https://drive.google.com/drive/folders/1NvszNmVAP-T5QwLH4yuBpQJWIfHudBm7?usp=sharing

Let me know if you cannot  access the folder

Thanks,
Mayank Mishra

[2019-10-07 06:16] mayankskb commented on #30
Hi Suvarna,

Kindly upload the screen recording to this folder.
Link: https://drive.google.com/drive/folders/1NvszNmVAP-T5QwLH4yuBpQJWIfHudBm7?usp=sharing

Let me know in case you do not have access to this folder.

Thanks
Mayank Mishra

[2019-10-07 06:18] mayankskb commented on #23
Hi Shubham,

Kindly Upload your screen recording to this folder.
Link: https://drive.google.com/drive/folders/1NvszNmVAP-T5QwLH4yuBpQJWIfHudBm7?usp=sharing

Let me know if you do not have access to this folder.

Thanks
Mayank Mishra

[2019-10-07 06:21] mayankskb commented on #33
Thanks, Swapnil for the talk. Feel free to make a proposal for talk anytime. We would love to have your talk as well. Feel free to do so.

Closing this issue.

Thanks
Mayank Mishra

[2019-10-07 06:21] #33 closed, assigned to mayankskb

[2019-10-07 06:23] mayankskb commented on #27
Hey,

We would like to have your talk for November Meetup. The probable date would be 16 Nov 2019. Do let me know your availability for the same.

Thanks
Mayank Mishra

[2019-10-08 15:21] shubhamjante commented on #23
Done

[2019-10-08 17:49] sonarsushant commented on #27
Hi Mayank,

We can have my talk on 16th Nov.
Please let me know the further procedure.

Thanks,
Sushant

[2019-10-14 10:31] mayankskb commented on #27
Hi,

Please do let me know once you are done with finalizing the content. I would like to have a look at it or best would be if you can write down the line-up and brief about it

Regards,
Mayank Mishra

[2019-10-15 05:24] sonarsushant commented on #27
Hi Mayank,

Here is the line-up for talk. I will use power point presentation and jupyter notebooks for talk. Let me know any changes if required.

1.	Basic information about time-series data. How it is different from non-temporal data and what additional things to consider while forecasting it?
2.	Analysis of time-series data and time-series decomposition (Jupyter notebook).
3.	Traditional models

[2019-10-18 15:52] mayankskb commented on #27
Hi Sushant,

Please go ahead with the content preparation. Finalizing your talk for Nov 16, 2019. More details will be added shortly regarding instructions and other guidelines.

Thanks
Mayank Mishra

[2019-10-18 15:54] mayankskb commented on #36
Hi Saranjeet,

I am sure you might be preparing the content for your talk. From our side consider this talk as accepted for Nov 16, 2019.

Please let us know what all you would need to deliver your talk in the best possible way.

More details about the event + guidelines will be shared soon.

Thanks
Mayank Mishra

[2019-10-18 16:00] SaranjeetKaur commented on #36
Yup will keep you posted

On Fri, Oct 18, 2019, 21:24 Mayank Mishra <notifications@github.com> wrote:

[2019-10-31 02:47] satyamsoni2211 opened #37 "Decorators in Python, Special power to functions"
I would like to host a talk on decorators in Python. This would include below topics:

- closures
- decorators
- use case

I would try my best to explain how decorators work and help you achieve additional functionality on the top of your function.

[2019-11-01 13:54] mayankskb commented on #30
Thanks, Suvarna. Loved your presence at PyData Pune event. Your talk was quite informative. Would love to hear more in the future from you. Feel free to make talk proposals in the future.

Closing this issue.
Thanks
Mayank Mishra

[2019-11-01 13:55] #30 closed, assigned to mayankskb

[2019-11-01 13:57] mayankskb commented on #23
Thanks, Shubham. Loved your talk at PyData Pune. I would love to hear more in the future. Feel free to make issues in the future.

Thanks
Mayank Mishra

[2019-11-01 13:57] #23 closed, assigned to mayankskb

[2019-11-08 16:40] mayankskb commented on #27
Hi,

We will be recording your session. So if you have slides/demo/paper. Kindly keep it handy.

Also, you need to install screen recording software which can capture the presentation on your laptop.

If you have any other alternate go with that if not then please go through the following readme to get an available screen recorder for your OS:

https://github.com/sigmakappa/ScreenRecorders

Let me

[2019-11-08 16:43] mayankskb commented on #27
Hi Shushant,

Do send me a small writeup about you. We will use that for introducing you. Also, please send me your contact details at pydata.pune@gmail.com. Don't worry we are not going to share them with anybody.

Thanks
Mayank Mishra

[2019-11-08 16:44] mayankskb commented on #36
Hi Saranjeet,

Please let me know the lineup of your talk. Kindly list them here.

Thanks
Mayank Mishra

[2019-11-08 16:44] mayankskb commented on #36
Hi,

We will be recording your session. So if you have slides/demo/paper. Kindly keep it handy.

Also, you need to install screen recording software which can capture the presentation on your laptop.

If you have any other alternate go with that if not then please go through the following readme to get an available screen recorder for your OS:

https://github.com/sigmakappa/ScreenRecorders

Let me

[2019-11-08 16:45] mayankskb commented on #36
Hi Saranjeet,

Do send me a small writeup about you. We will use that for introducing you.

Thanks
Mayank Mishra

[2019-11-10 19:33] SaranjeetKaur commented on #36
Line-up of my talk:
1. What can be forecast?
2. Graphing your data
3. The forecasting toolbox
4. What if no historical data is available?
5. Some more methods and models

The elaboration of point 5 will depend on the time availability and
interest of the audience

On Fri, Nov 8, 2019 at 10:15 PM Mayank Mishra <notifications@github.com>
wrote:

[2019-11-10 19:34] SaranjeetKaur commented on #36
Also please change the talk title to "Time series forecasting"

On Mon, Nov 11, 2019 at 1:02 AM Saranjeet Kaur <kaur.saranjeet3@gmail.com>
wrote:

[2019-11-11 05:12] mayankskb commented on #36
Thanks Saranjeet for your inputs. One more thing please do the screen recording setup and let me know the status.

[2019-11-12 05:17] sonarsushant commented on #27
Hi Mayank,

Screen recorder is working for me and I have mailed you a small writeup about me.

Thanks,
Sushant Sonar

[2019-11-14 09:23] jaspaljuneja opened #38 "Big data Technologies, Finance Management,"
Will be having talks on the above mentioned topics.

[2019-11-15 14:11] bitsbuffer opened #39 "Machine Learning Recipies for Time Series Forecasting"
Hi,

The gist of this lighting talk will be

1. How time series data is different than cross sectional data ?
2. Feature engineering tricks to apply on time series data ?
3. Model assessment and cross validation.

[2019-11-15 14:25] mayankskb commented on #38
Hi Jaspal,

Thanks for submitting your talk. Please take this talk ahead as per our morning conversation.

Thanks
Mayank Mishra

[2019-11-15 14:27] mayankskb commented on #39
Hi,

Please send a small write-up about you for introducing you.

We will be recording your session. So if you have slides/demo/paper. Kindly keep it handy.

Also, you need to install screen recording software which can capture the presentation on your laptop.

If you have any other alternate go with that if not then please go through the following readme to get an available screen recorder for yo

[2019-11-15 23:19] SaranjeetKaur commented on #36
Exclude point 5 from the line-up

On Mon, Nov 11, 2019, 01:02 Saranjeet Kaur <kaur.saranjeet3@gmail.com>
wrote:

[2019-11-18 08:36] mayankskb commented on #27
Please upload your screen recording to this folder :

https://drive.google.com/drive/folders/1isoGg2-qzFdGJyXxd7JKXasSiYoIhbAD?usp=sharing

Thanks
Mayank Mishra

[2019-11-18 08:39] mayankskb commented on #31
Hey,

Please upload your video to the above-mentioned folder or do upload it to any other folder on you gdrive and then share it at pydata.pune@gmail.com

[2019-11-21 06:54] palash247 commented on #27
Hi Sushant, thanks for sharing your knowledge. It would be great if you can share the notebook too.

[2019-11-23 09:06] sonarsushant commented on #27
Hi,
Refer [this](https://github.com/sonarsushant/TimeSeriesForecasting) link for notebook.

[2019-11-25 05:56] shaksham95 opened #40 "A Primer on Language Modelling"
**Title of the talk**
Advancements in Language Modelling

**Description**
In this talk, we will take a look into the recent acceleration in building NLP systems which were enabled by a shift of paradigm: for a long time, we used pre-trained word embeddings such as word2vec or GloVe which are now being "replaced" by advanced language models like ELMO, BERT, etc.

**Topics to be covered:**

- Drawba

[2019-11-25 06:10] KrishnaPriya401 opened #41 "Text Vectorization"
**Title of the talk**
Introduction to word embeddings

**Description**
In this talk, we will cover the following:-

- Statistical methods of converting text into a numeric representation.

-  The shortcoming of stats based methods and the advent of word embedding.

- Why do we need word representations? What is the "meaning" of a certain word? and how that meaning is encoded in numeric representat

[2019-11-25 09:37] mayankskb commented on #41
Hi KrishnaPriya,

Thanks for the talk proposal. We will use this issue for further communication related to the talk.

Thanks
Mayank Mishra

[2019-11-25 10:05] mayankskb commented on #40
Hi Shaksham,

Thanks for the talk proposal. We will use this issue for further communication related to the talk.

Thanks
Mayank Mishra

[2019-11-26 04:59] KrishnaPriya401 commented on #41
Thank you, Mayank.

On Mon, Nov 25, 2019 at 3:07 PM Mayank Mishra <notifications@github.com>
wrote:

[2019-11-27 05:15] shaksham95 commented on #40
Thanks, Mayank. I have on request, it would be helpful if you can arrange for a whiteboard and markers. We might be needing them for explaining some concepts.

[2019-11-29 08:50] mayankskb commented on #41
Hi KrishnaPriya,

Finalizing your talk for Dec 14, 2019.

Thanks
Mayank Mishra

[2019-11-29 08:52] mayankskb commented on #41
Hi,

Please send a small write-up about you for introducing you.

We will be recording your session. So if you have slides/demo/paper. Kindly keep it handy.

Also, you need to install screen recording software which can capture the presentation on your laptop.

If you have any other alternate go with that if not then please go through the following readme to get an available screen recorder for yo

[2019-11-29 08:53] mayankskb commented on #40
Hi Shaksham,

Thanks for informing about the logistics. We will take care of that.
Confirming your talk for Dec 14, 2019.

Thanks
Mayank Mishra

[2019-11-29 08:54] mayankskb commented on #40
Hi,

Please send a small write-up about you for introducing you.

We will be recording your session. So if you have slides/demo/paper. Kindly keep it handy.

Also, you need to install screen recording software which can capture the presentation on your laptop.

If you have any other alternate go with that if not then please go through the following readme to get an available screen recorder for yo

[2019-11-29 09:35] KrishnaPriya401 commented on #41
Dear Mayank,

Thank you so much
I will surely do the needful and let you know.

Regards,
Krishna Priya

On Fri, Nov 29, 2019 at 2:22 PM Mayank Mishra <notifications@github.com>
wrote:

[2019-12-02 08:42] thombrem opened #42 "A deep dive into NLP with BERT"
I have done an introductory session on NLP and BERT at another meetup. I would like to do a BERT deep dive session covering the related theoretical concepts like

- Attention networks
- Transformer Models vs Directional Models
- Masked Language Model
- Next Sentence Prediction
- Pre-trained Models
- Fine Tuning
- Current State of the art F1 scores
- bert-as-a-service
- Hands-on BERT

[2019-12-08 07:53] shaksham95 commented on #40
Hello Mayank,

I have been playing around with ShareX (OS: Windows) and it seems to work fine. It's capturing the entire screen, do we also need to capture audio?

Thanks
Shaksham

[2019-12-09 07:08] mayankskb commented on #40
Cool! Audio we will capture

[2019-12-09 07:08] mayankskb commented on #40
Shaksham please send a small write-up about you for introducing you.

[2019-12-09 07:09] mayankskb commented on #41
KrishnaPriya please send a small write-up about you for introducing you.

[2019-12-09 09:24] shaksham95 commented on #40
Sure, Myanak. I will share that.

[2019-12-09 09:47] KrishnaPriya401 commented on #41
Hi  Mayank,
Here is my introduction

"
Krishna has got over three years’ worth of experience in data science where
her core focus was researching and developing NLP based products like
conversational interfaces. She is an ex-Senior Data Scientist with Kritrim
Inc (US-based, AI product development company) and helped them develop NLU
based products. Prior to joining Kritirm, she was in academics an

[2019-12-12 14:40] shaksham95 commented on #40
Hello Mayank,

Please find my introduction below;

Shaksham has over two years of experience in data science with his major focus on developing NLP based products. He is an experienced ML and NLP practitioner and is currently working as a Junior Data Scientist at Persistent Systems. He is also an independent researcher and has been researching and publishing papers in ML and NLP.

Apart from the p

[2019-12-16 05:22] mayankskb commented on #41
Hi KrishnaPriya,

Thanks for the wonderful talk. About the feedbacks from people, mostly the rating is 4 and 5 out of 5. This clearly signifies that people liked your talk.

About the screen recording, please upload it here: https://drive.google.com/drive/folders/1j9pPfLpSkA7el3cuhGhU_aY9SIXeLbRK?usp=sharing

Thanks
Mayank Mishra

[2019-12-16 05:26] mayankskb commented on #40
Hi Shaksham,

Thanks for the wonderful talk. About the feedbacks from people, mostly the rating is 4 and 5 out of 5. This clearly signifies that people liked your talk.

About the screen recording, please upload it here: https://drive.google.com/drive/folders/1j9pPfLpSkA7el3cuhGhU_aY9SIXeLbRK?usp=sharing

Thanks
Mayank Mishra

[2019-12-16 05:29] mayankskb commented on #41
Please let me know after uploading the video so that I can close this issue. Moreover, Krishna if you can help me with your email id or mob number so that I can approach you next time. You can send me text on 8380810361.

Thanks

[2019-12-16 05:29] mayankskb commented on #40
Please let me know after uploading the video so that I can close this issue.

Thanks
Mayank

[2019-12-16 14:56] mayankskb commented on #41
Thanks!! Closing this issue. feel free to make new talk proposals. will schedule only after taking your consent

[2019-12-16 14:56] #41 closed, assigned to mayankskb

[2019-12-17 04:45] shaksham95 commented on #40
Hey Mayank,

Sorry about the recording. I have checked my ShareX recordings and the session was not recorded. there is a 2-minute recording but it's not useful. We did start the recording before the session started but I am not sure why it didn't get recorded. Do you want me to record the presentations and share them with you? Or do you have any other ideas?

Thanks
Shaksham

[2019-12-17 06:39] mayankskb commented on #40
Hi,

One possible alternate about which I can think of is on the basis of your recording, you need to record the screen matching the time on which you were saying something in the video and the content on the screen.

[2019-12-17 07:23] shaksham95 commented on #40
Yes, that sounds good. I can try that. From where can I access the recording?

[2019-12-17 08:43] mayankskb commented on #40
Give me some time. I will notify you brother.

[2019-12-17 12:09] mayankskb commented on #40
Hi Shaksham,

You can now check for your video recording in the same folder that I have shared above. Please have a look and upload screen recording in the same folder with name like "Shaksham - Language Modeling screen recording"

[2019-12-17 13:49] shaksham95 commented on #40
Sure Mayank, I will take a look at it and will try to record the presentation accordingly.

[2019-12-23 14:25] shaksham95 commented on #40
Hello Mayank,

I have recorded and uploaded the shareX recording for my session on the drive which you have shared. Please check that out and do let me know when the final video is out :)

Thanks
Shaksham

[2019-12-25 16:39] mayankskb commented on #40
Hello Shaksham,

Thanks for sharing the screen recording for the presentation. I will notify you after the completion of the final video.

It would take some time.

Thanks
Mayank Mishra

[2019-12-25 16:40] mayankskb commented on #40
Closing this issue as the purpose is completed for this one. Feel free to make new talk proposals.

[2019-12-25 16:40] #40 closed, assigned to mayankskb

[2020-01-09 07:30] mayankskb commented on #39
Hi,

Feel free to make any new talk proposal. Closing this issue.

Thanks
Mayank Mishra

[2020-01-09 07:30] #39 closed, assigned to mayankskb

[2020-01-09 07:32] mayankskb commented on #34
Hi,

We would like to have your talk on Jan 18, 2020. Please confirm your availability for the same.

Thanks
Mayank Mishra

[2020-01-10 08:26] adversarial-nik commented on #34
Hey Mayank,
I will be available on 18th Jan. May I know how much time will be allocated for this talk so that I can think about delivering demos.

[2020-01-13 14:10] adversarial-nik opened #43 "Lightning Talk: Machine Learning for offensive security"
A brief look at applications of Machine Learning in offensive security.
Following problems in offensive security are eagerly waiting for you **Deep learning researchers** to find out some interesting solutions.
Via this talk I invite you all to learn more about these problems and also discuss the solutions that I have worked on.

We will discuss about:

## Fuzzing
Fuzzing is a method of testing a

[2020-01-14 14:38] mayankskb commented on #43
Accepted for Jan 18, 2020.

[2020-01-14 14:39] mayankskb commented on #43
Hi,

We will be recording your session. So if you have slides/demo/paper. Kindly keep it handy.

Also, you need to install a screen recording software that can capture the presentation on your laptop.

If you have any other alternate go with that if not then please go through the following readme to get an available screen recorder for your OS:

https://github.com/sigmakappa/ScreenRecorders

Let m

[2020-01-14 14:41] mayankskb commented on #43
Hi Nikhil,

Do send me a small writeup about you. We will use that for introducing you.

Thanks
Mayank Mishra

[2020-01-14 15:08] adversarial-nik commented on #43
Hey Mayank,

Screen recording software installed and tested.

[2020-01-19 03:06] mayankskb commented on #43
Hi Nikhil,

I would suggest you to upload your slide deck on speakerdeck and please share the link of that with me.

Thanks
Mayank Mishra

[2020-01-26 16:43] SaranjeetKaur opened #44 "The hidden Markov model"
Expected time frame of presenting: April/ May 2020

[2020-01-27 09:26] mayankskb commented on #28
Hi Sushmita,

Please help me with the ETA and the tentative line up for your talk.

Thanks
Mayank Mishra

[2020-02-03 08:21] aditya-malte opened #45 "User Modeling: Recommendation Systems"
## Overview
This talk will be giving a brief overview on various user modeling techniques, which will then be followed by discussing Recommendation Systems in depth.
## User Modeling(5-10 mins overview):
It is an important subdomain of data mining that is concerned with analyzing and predicting user behavior. Employed by Amazon, Twitter, Facebook, etc. to analyze their user/social media traffic.

[2020-02-03 08:55] PyDataPune commented on #27
Hi Shushant,

Great having you on board for that meetup and thanks for uploading the screen recording. Closing this issue as the purpose of this issues is completed.

Feel free to make new proposals anytime.

Thanks
Mayank Mishra

[2020-02-03 08:55] #27 closed, assigned to shreyas-kalmegh, mayankskb

[2020-02-03 08:57] PyDataPune commented on #31
Hi Anchal,

We didnot get your screen recording yet. Please upload it somewhere may be on your gdrive and share the link at pydata.pune@gmail.com. We will copy it from there.

for now, closing this issue, as the talk has been delivered. Feel free to make new proposals at any time.

Thanks
PyData Pune Admins

[2020-02-03 08:57] #31 closed, assigned to shreyas-kalmegh, mayankskb

[2020-02-03 08:59] PyDataPune commented on #43
Hi Nikhil,

Thanks for the meticulous lightning talk. Indeed we would live to conduct your full talk very soon.
Meanwhile, if you want to propose more talks, feel free to do so.

Thanks
Admin @ PyData Pune

[2020-02-03 08:59] #43 closed, assigned to mayankskb

[2020-02-03 10:08] PyDataPune commented on #36
Hi Saranjeet,

Thanks for delivering the talk. Closing this issue now. Please share the screen recording as soon as possible.
Also, feel free to make new talk proposals.

Thanks
Admin @ PyData Pune

[2020-02-03 10:08] #36 closed, assigned to mayankskb

[2020-02-03 10:23] PyDataPune commented on #29
Hi,

Good Proposal and let's finalize this talk soon.
Your inputs are required.

Thanks
Admin @ PyData Pune

[2020-02-03 17:52] mayankskb commented on #29
Hi Pushkar,

We would like to schedule your talk for Feb meetup. Most probably on 22 Feb. Please let us know your availability regarding the same.

[2020-02-04 07:04] soubhik-theallrounder opened #46 "Getting to the Core of Deep Learning in Healthcare"
_Let's take a use case_.: Football managers (especially in England) have extremely poor hearth health, and that's simply because of the pressure that they take, in fact are obliged to take during matches. Imagine the consequences - aging, possible heart attack and poor quality of life otherwise.

### Why Deep Learning
Here's an article which highlights the same: [https://www.independent.co.uk/spor

[2020-02-04 18:12] pushkarnimkar commented on #29
Hi Mayank. We can schedule it for February.

[2020-02-05 17:40] SaranjeetKaur commented on #36
Dear Admin (PyData Pune),

I thank the Organizers at PyData Pune for giving me the opportunity for
presenting my talk.
Apologies for the delay in sharing the screen recording with you.
The screen recording is uploaded in the stated folder.

Cheers,
Saranjeet

On Mon, Feb 3, 2020 at 3:38 PM PyData Pune <notifications@github.com> wrote:

[2020-02-06 09:46] mayankskb commented on #29
Cool. In this case scheduling it for Feb 22, 2020.

[2020-02-06 11:21] mayankskb commented on #46
As per our conversation (2.6.2020), we are allowed to record your talk and publish it on PyData Pune Youtube channel and if required then global PyData Channel.

We understand that this is a bit confidential concept as it is related to your Patent directly and hence, advises to use content accordingly for talk.. However, if someone reaches you personally asking more details that's totally your cal

[2020-02-06 11:22] mayankskb commented on #46
Accepted for Feb 22, 2020.

[2020-02-06 11:25] mayankskb commented on #45
Hi Aditya,

We had a discussion over phone calls and messages regarding doubts related to the talk proposal and now it seems satisfactory to me.

Please consider this message as the acceptance for the talk for Feb 22, 2020.

Thanks
Mayank Mishra

[2020-02-06 11:52] aditya-malte commented on #45
Thank you

[2020-02-10 10:32] mayankskb commented on #46
Hi,

We will be recording your session. So if you have slides/demo/paper. Kindly keep it handy.

Also, you need to install a screen recording software that can capture the presentation on your laptop.

If you have any other alternate go with that if not then please go through the following readme to get an available screen recorder for your OS: https://github.com/sigmakappa/ScreenRecorders

Let me

[2020-02-10 10:32] mayankskb commented on #45
Hi,

Please send a small write-up about you for introducing you.

We will be recording your session. So if you have slides/demo/paper. Kindly keep it handy.

Also, you need to install a screen recording software that can capture the presentation on your laptop.

If you have any other alternate go with that if not then please go through the following readme to get an available screen recorder for y

[2020-02-12 09:55] soubhik-theallrounder commented on #46
Hi Mayank!

    Thanks for the mail! I have a screen recorder along with a default
screen recorder. I'll give my screen recording confirmation in three days.

Thanks and regards,
Soubhik Das

On Mon, Feb 10, 2020 at 4:02 PM Mayank Mishra <notifications@github.com>
wrote:

--
Thanks and regards,
*Soubhik Das*

*Intel Student Ambassador*

*soubhik11das@gmail.com <soubhik11das@gmail.com>*

*https://w

[2020-02-12 10:40] uday-dna opened #47 "A 100 Databases (the world outside relational)"
### Overview

Did you know there are over 500 different databases in existence today? They are over a dozen types that are prevalent in the market. Relational, OLAP, Document are just the most common ones. However, there are many others out there that are transforming operational landscapes. Avenues that were once ignored or unexplored, are becoming differentiators for transformation. Our Analytic

[2020-02-12 11:03] mayankskb commented on #47
Hi Uday!!

Thanks for submitting the talk proposal. Accepting it for Feb 22, 2020, as Host Talk.

Thanks
Mayank Mishra

[2020-02-12 11:04] mayankskb commented on #47
Hi,

Please send a small write-up about you for introducing you.

We will be recording your session. So if you have slides/demo/paper. Kindly keep it handy.

Also, you need to install a screen recording software that can capture the presentation on your laptop.

If you have any other alternate go with that if not then please go through the following readme to get an available screen recorder for y

[2020-02-17 17:44] soubhik-theallrounder commented on #46
I have done a preliminary testing and screen recorder is working fine now.

Regards,
Soubhik Das

On Mon, Feb 10, 2020 at 4:02 PM Mayank Mishra <notifications@github.com>
wrote:

--
Thanks and regards,
*Soubhik Das*

*Intel Student Ambassador*

*soubhik11das@gmail.com <soubhik11das@gmail.com>*

*https://www.soubhikdas.com <https://www.soubhikdas.com>*

[2020-02-21 08:21] uday-dna commented on #47
Hi Mayank,
I have setup Share X on my laptop. Also mailed you my intro write up.

Thanks,
Uday

[2020-02-21 10:19] mayankskb commented on #29
Hi,

Please send a small write-up about you for introducing you.

We will be recording your session. So if you have slides/demo/paper. Kindly keep it handy.

Also, you need to install a screen recording software that can capture the presentation on your laptop.

If you have any other alternate go with that if not then please go through the following readme to get an available screen recorder for y

[2020-02-21 21:58] pushkarnimkar commented on #29
https://github.com/pushkarnimkar/ipywidgets-demo

[2020-02-22 14:31] chessmastr commented on #47
Hi Uday,
It was really a nice session, very informative.
Please share the ppt here or personally.

[2020-02-24 10:12] mayankskb commented on #47
Link to access photographs
https://photos.app.goo.gl/oYJHVZNfFp6Juy558

[2020-02-24 10:12] mayankskb commented on #46
Link to access photographs
https://photos.app.goo.gl/oYJHVZNfFp6Juy558

[2020-02-24 10:13] mayankskb commented on #45
Link to access photographs
https://photos.app.goo.gl/oYJHVZNfFp6Juy558

[2020-02-26 06:39] matce opened #48 "Model Compression techniques"
I can give lightning talk on ML/DL model compression techniques.

[2020-02-26 18:26] soubhik-theallrounder commented on #46
Thanks for sharing!

On Mon, Feb 24, 2020 at 3:43 PM Mayank Mishra <notifications@github.com>
wrote:

--
Thanks and regards,
*Soubhik Das*

*Intel Student Ambassador*

*soubhik11das@gmail.com <soubhik11das@gmail.com>*

*https://www.soubhikdas.com <https://www.soubhikdas.com>*

[2020-02-29 11:51] mayankskb commented on #48
Hi,

Please give a summary related to that like what all you will cover and some tentative line up

Thanks
Mayank Mishra

[2020-02-29 11:56] mayankskb commented on #47
Thanks, Uday for the wonderful talk and recordings.. We will process them asap and will let you know once done. Closing this issue as the purpose is served.
Feel free to make new issues whenever you want to deliver talk. We will see where we can fit them according to theme.

Thanks
Mayank Mishra

[2020-02-29 11:56] #47 closed, assigned to mayankskb

[2020-02-29 11:57] mayankskb commented on #46
Hi Soubhik,

First of all thanks for delivering the talk. Soon I will share the video recording with you and then need screen recording from you to process them.

Thanks

[2020-02-29 12:00] mayankskb commented on #45
Hi Aditya,
Thanks for the talk. Closing this issue. Fell free to make new talk proposals.

Regards,
Mayank Mishra

[2020-02-29 12:00] #45 closed, assigned to mayankskb

[2020-02-29 12:02] mayankskb commented on #37
Hi Satyam,

Please help me with the tentative talk length.

[2020-02-29 12:03] mayankskb commented on #35
Hi Dinesh,

Please help me with the tentative length of your talk.

Regards,
Mayank Mishra

[2020-02-29 12:08] mayankskb opened #49 "Numba - A high Performance Python Compiler"
Numba translates Python functions to optimized machine code at runtime using the industry-standard LLVM compiler library. Numba-compiled numerical algorithms in Python can approach the speeds of C or FORTRAN.

In this talk, we will learn how to use numba, the nitty-gritty of the package and the background functioning.

[2020-02-29 12:11] aditya-malte commented on #45
Thanks @mayankskb , it was a pleasure attending and delivering a talk at PyData

[2020-02-29 12:12] mayankskb opened #50 "What's new in Pandas 1.0.0?"
Recently, Pandas 1.0.0 was released with some major updates and additional functionalities. In this talk or rather demo based session we will see what is there on the table and how to make use of it.

For newbies to Pandas  I will try to present an overview of pandas with its distinguishable features and will present use cases as well.

[2020-02-29 12:18] mayankskb opened #51 "Orchestration of Data Pipelines using Apache AIrflow"
Points that we will cover
- What is Data Pipelines
- Directed Acyclic Graphs
- Making DAGs
- Scheduling of jobs
- Orchestration of data pipelines based on the priority of tasks
- Using Operators and Defining your custom operators
- Monitoring Data Pipelines

[2020-02-29 12:22] mayankskb opened #52 "Wrangling rectangular Data in R"
We will juggle around some dataset in R using the package dpylr

[2020-02-29 12:55] vaibhawvipul opened #53 "Mathematical Framework of Bias-Variance Trade-off and Backpropagation"
Usually we see Bias-Variance trade off as a concept which we memorise. However the beauty of Bias-Variance is profound once we see how beautifully it appears in the equations of the loss functions. In this talk we will be seeing the mathematical occurrence of bias-variance tradeoff in ML.

The second part of the talk will lay a mathematical framework of Back-Propagation. This talk will be based on

[2020-02-29 15:26] mayankskb opened #54 "[Lightning Talk] - Eager Execution vs Lazy Execution"
This will be a lightning talk.

Will present the difference between eager and lazy execution and some real examples of it.
Benefits of them and how to use them.

[2020-02-29 15:28] mayankskb opened #55 "Autograd: Automatic Differentiation"
This is a full-time talk focussed on autograd package of PyTorch framework. We will cover the functioning of the package and will catch behind the curtain moments.

We will also see the variants and will study the submodule in detail.

[2020-02-29 15:32] mayankskb opened #56 "Siamese neural network"
In this talk, we will discuss the Siamese neural network architecture and will discuss the applications of it.
Here is a gist about the network:
A twin neural network is an artificial neural network that uses the same weights while working in tandem on two different input vectors to compute comparable output vectors. Often one of the output vectors is precomputed, thus forming a baseline against w

[2020-02-29 23:35] Sarkutz opened #57 "Scaling with Spark (PySpark)"
### Title
Scaling with Apache Spark (PySpark)

### Summary
Running data analysis and ML on big data requires tools that support a cluster of machines.  Spark is a popular framework that is widely adopted in the industry.  PySpark is the Python language API to Spark.
In this talk, we will understand how Spark helps crunch large data sets by scaling out to many machines.  We'll examine how Spark's a

[2020-02-29 23:57] Sarkutz opened #58 "Matplotlib: Into the belly of the beast"
### Title
Matplotlib: Into the belly of the beast

### Summary
Matplotlib is the foundational Python visualisation library.  It's a powerful and pervasive beast: powerful as it can create very complex plots, and pervasive as it is used inside many popular libraries like Seaborn and Pandas.
Unfortunately, Matplotlib's power comes with complexity and a steep learning curve.  In this talk, we will pl

[2020-03-04 09:10] soubhik-theallrounder commented on #46
Sure thanks

On Sat, Feb 29, 2020 at 5:27 PM Mayank Mishra <notifications@github.com>
wrote:

--
Thanks and regards,
*Soubhik Das*

*Intel Student Ambassador*

*soubhik11das@gmail.com <soubhik11das@gmail.com>*

*https://www.soubhikdas.com <https://www.soubhikdas.com>*

[2020-03-04 15:14] ravipawase opened #59 "Interrogating clusters: Inside view of K-means by implementation from scratch and visualisation"
This talk will cover the following things

1) K-means implementation from scratch in python (Inspired from code and coffee session )
2) Implementation of visualisation code
3) Demonstration of visualisation with different dataset e.g. single widespread cluster and 2/cluster centres, two neatly separated clusters and various no. of clusters etc.

Proposed duration: 45 minutes

Talk scheduling: Will

[2020-03-05 06:00] mayankskb commented on #29
Hi Pushkar,

Please find the face recording here: https://drive.google.com/drive/folders/1R0150lU2ZIXIb7O7KvUKl5gwWN7TXwq8?usp=sharing

Please do the screen recording in sync with the face recording and upload that in the same folder.
Please do this as soon as possible (holi leaves)

Thanks
Mayank Mishra

[2020-03-05 06:01] mayankskb commented on #46
Hi Soubhik,

Please find the face recording here: https://drive.google.com/drive/folders/1R0150lU2ZIXIb7O7KvUKl5gwWN7TXwq8?usp=sharing

Please do the screen recording in sync with the face recording and upload that in the same folder.
Please do this as soon as possible (holi leaves)

Thanks
Mayank Mishra

[2020-03-05 12:17] soubhik-theallrounder commented on #46
Sure. I will do it and send.

On Thu, Mar 5, 2020 at 11:31 AM Mayank Mishra <notifications@github.com>
wrote:

--
Thanks and regards,
*Soubhik Das*

*Intel Student Ambassador*

*soubhik11das@gmail.com <soubhik11das@gmail.com>*

*https://www.soubhikdas.com <https://www.soubhikdas.com>*

[2020-03-23 07:34] mayankskb commented on #46
Hi Soubhik,

We are waiting for the recording, please send it at the earliest.

Thanks
Mayank Mishra

[2020-03-23 07:44] mayankskb commented on #29
Hi Pushkar,

Please send the screen recording. We need to process it and upload it as soon as possible.

Thanks
Mayank Mishra

[2020-03-23 07:50] mayankskb commented on #34
Hi,

As we had your lightning talk in January, Can we move with this talk proposal for April meetup. Mostly that will be a virtual session via slack or youtube live.

Please let me know your availability for April 11, 2020.

Thanks
Mayank Mishra

[2020-03-23 18:32] soubhik-theallrounder commented on #46
Yeah sure

On Mon, Mar 23, 2020 at 1:04 PM Mayank Mishra <notifications@github.com>
wrote:

--
Thanks and regards,
*Soubhik Das*

*Intel Student Ambassador*

*soubhik11das@gmail.com <soubhik11das@gmail.com>*

*https://www.soubhikdas.com <https://www.soubhikdas.com>*

[2020-03-24 18:31] adversarial-nik commented on #34
Sure Mayank,

I will be available on 11th April for live session.

[2020-04-27 07:00] mayankskb commented on #46
Closing this issue. Feel free to make new talk proposals.

Thanks
Mayank Mishra

[2020-04-27 07:00] #46 closed, assigned to mayankskb

[2020-04-27 07:02] mayankskb commented on #29
Closing this issue as the talk has been delivered. Feel free to make a new talk proposal.

Thanks
Mayank Mishra

[2020-04-27 07:03] #29 closed, assigned to mayankskb

[2020-07-01 18:44] Shubh28698 opened #60 "Empowering ML webapps with streamlit"
Summary:
Today, a lot more ML, data science & NLP apps are being developed by companies or being performed as a project from data science, ML enthusiasts. To make the apps visible or functionality of the app visible, it has to come to deployment phase. There's GUI required so that normal people can make use of it.

What actually happens?
while designing such apps, they have to take assistance of f

[2020-07-10 11:27] mayankskb commented on #44
Hi Saranjeet,

Can we schedule you talk for August 16, 2020?

Please let us know you response.

Thanks

[2020-07-10 11:33] SaranjeetKaur commented on #44
Thanks for your patience. I can't commit for this until october end.

[2020-07-10 11:42] mayankskb commented on #44
Thanks no issues

[2020-07-17 17:17] satyamsoni2211 commented on #37
45 mins would be sufficient for this talk.

[2020-07-25 14:08] mayankskb commented on #58
Hi,

We would like to finalise your talk for August virtual session.

Please let us know your availability for August 15.

Thanks
Mayank Mishra

[2020-07-25 14:11] mayankskb commented on #34
Hi,

Please let us know if we can have your talk for August 15, virtual session.

Thanks
Mayank Mishra

[2020-07-26 06:59] adversarial-nik commented on #34
Hi Mayank,

Not sure at what time you are planning for the virtual session. But I will be available after 3PM on 15th August.

[2020-07-26 08:40] mayankskb commented on #34
Well we are planning to keep it for 7pm. Lets us know if this suits to you.

[2020-07-26 08:58] adversarial-nik commented on #34
sure, lets do it.

[2020-07-26 09:08] mayankskb commented on #34
Ok and any changes to the theme and line up that you have mentioned in the description or to the title.. If there is any please let me know.

Also if you can send me a headshot for flyer at mayank1996[dot]skb[at]gmail[dot]com

[2020-07-26 17:39] mayankskb commented on #34
Accepting it for August 15, 7pm youtube live event

[2020-08-11 07:35] mayankskb commented on #60
Hi,

If you are available We would like to schedule your talk for Aug 29, 2020. 7PM IST.

Do let us know your availability.

Thanks

[2020-08-11 14:59] Shubh28698 commented on #60
Hello,

I am really sorry but i may have CDAC exam on 29th or 30th of aug. Date can
be anyone of these two dates.Is there any other option ?

Thank you

On Tue, Aug 11, 2020 at 1:05 PM Mayank Mishra <notifications@github.com>
wrote:

[2020-08-20 18:44] Shubh28698 commented on #60
Hello,

i am in for the talk on the above date i,e 29th aug 2020. Please do let me know about confirmation

Thank you

[2020-10-03 21:17] techwithshadab opened #61 "Experimentation with Papermill, and MLFlow"
Abstract:
Machine Learning and AI are changing or would say have changed the way how businesses used to behave. However, the Data Science community is still lacking good practices for organizing their projects and effectively collaborating and experimenting quickly to reduce “time to market”.
During this session, we will learn about such open-source tools like “papermill” and “mlflow” which can he

[2020-10-12 08:53] mayankskb commented on #61
Hi Shadab,

Thank you for making an issue. Can you please help me with the line up that you are planning to cover? Also, please help me with your availability for late this month.

Thanks
Mayank Mishra

[2020-10-18 17:35] techwithshadab commented on #61
Hi Mayank,
Below will be the break-out of the topics:
1. Understanding the normal process a Data Scientist/Machine Learning Engineer goes through while building models and hyperparameter tuning
2. Which tools they can use to ease the experimentation
3. Why its difficult to monitor/track metrics and model performance and how they can overcome it
4. Hands-on demo wherein they will learn about the in

[2020-10-22 10:42] mayankskb commented on #61
Hi Shadab,

Let's not keep the session in this month. Lets schedule it for Nov 21. Please let me know your availability. If not on Nov 21 then later that week?

Thanks
Mayank Mishra

[2020-11-02 17:26] techwithshadab commented on #61
Sure Nov 21 works for me

[2020-11-07 09:34] mayankskb commented on #61
Finalising it for nov 21. Please send me brief about about you and a headshot for flyer.

Thanks

[2021-02-24 18:44] mayankskb commented on #61
Hi Shadab,

Due to some reasons, we were not able to conduct the talk earlier. Please let me know if we can schedule it for 20 March.

Thanks
Mayank Mishra

[2021-02-27 16:36] techwithshadab commented on #61
Hi Mayank,
Sure, 20th March works for me.

Regards,
Shadab

[2021-03-05 07:12] mayankskb commented on #61
Hi Shadab,

Please send me brief about about you and a headshot for flyer. You can send it on mail pydata.pune@gmail.com